---
title: 今後の青空文庫について（大久保 ゆう）| シンポジウム「著作権延長後の世界で我われは何をすべきか」 | 本の未来基金
---

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <h1>今後の青空文庫について</h1>
        <p class="text-right">大久保 ゆう（おおくぼ・ゆう）/ 青空文庫</p>
      </div>
      <p class="column">これから今後の青空文庫の、特にチャレンジについてお話しします。</p>

      <p class="column">2019年元旦の青空文庫のトップページはすでにご覧になった方もいらっしゃると思います。こちらには大きく3つのコンテンツが公開されておりました。</p>

      <p class="column">まずひとつは真ん中の「70」と書いた錠前のバナーから飛べるページ（https://www.aozora.gr.jp/shiryo_pdlocked.html）で、こちらには著作権保護期間延長で公開できなくなった作家名一覧が20年分掲載されています。そしてもうひとつは、かつて青空文庫の本を出した時に富田倫生さんが書いた『「天に積む宝」のふやし方、へらし方――著作権保護期間延長が青空文庫にもたらすもの』という文章です（https://www.aozora.gr.jp/cards/000055/card59489.html）。この2つは主に青空文庫が著作権保護期間延長によってどのような影響を受けるかということについてお知らせするものでした。</p>

      <p class="column">しかしこれから私たちがどうするのかということもみなさん気になるところだと思います。そちらについては、新年元旦に「そらもよう」という青空文庫の告知ページで詳しく書いています（https://www.aozora.gr.jp/soramoyou/soramoyouindex.html#000507）。ここではその内容を5つにまとめて、簡単にご説明いたします。</p>

      <p class="column">「これから青空文庫にできること」</p>
      <p class="column">まずあくまでＰＤの重要性にこだわる</p>
      <p class="column">もちろん著作権あり作品も受け入れる</p>
      <p class="column">孤児作品の扱いも検討する</p>
      <p class="column">市民活動としての青空文庫を広める</p>
      <p class="column">国外・世界での青空文庫利用を調査する</p>

      <p class="column">1つは「パブリック・ドメインがやっぱり何よりも大事なんだ」ということを普段の活動から伝えるということ。そしてその一方で著作権のある作品も著作権者の申し出に従って受け入れるということ。そして今後の事を考えると、孤児作品の扱いもやっぱり考えていかないといく必要があります。さらに青空文庫の活動を広げていくものとしては、青空文庫的なアーカイヴ活動をもう少し広く市民活動として、その思想を伝えていくことができないかということ。そして国外、世界でどのように青空文庫が利用されているのかということをちゃんと改めて調査するということも目指していきたいと思っています。これはパブリック・ドメインの重要性を考える上で大事です。</p>

      <p class="column">どうしてパブリック・ドメインが大事だということをあくまで伝えたいかと申しますと、かつて富田倫生さんがおっしゃったように、パブリック・ドメインは「天に宝を積み上げる営み」、つまり文化を振興していくための自由の出発点なんだという考え方に基づいています。例えばこれから青空文庫、あるいは特定の非営利の団体にだけ特別にアーカイヴさせてあげますよ、あるいはその場所でだけ特別に読めますよ、なんていう権利制限をされたとしても、それはパブリック・ドメインにもともと備わっている、文化のための自由は奪われてしまっているままです。わたしたちはそのことについて重く受け止めたい。つまり「うちの空さえ青ければいい」ということでは全くないということをやはり大事にしたいと思っているからです。</p>

      <p class="column">そこで私たち青空文庫が目指していきたいことは、著作権ありの作品にしても、あるいは孤児作品にしても、できるだけパブリック・ドメインに近い状態で提供できないかということです。現在どちらも実験段階で、通常作業の合間々々に行っておりますので、なかなか進みが遅いところがあります。これをもしこれから本格的にやるとしたら、ある程度の規模を持ったワーキングチームが必要だと思いますし、そのためには本の未来基金が中核となって、人を集めたり運営したりしていく必要もあると思います。そして私も含めてなんですが、ものを書く自分たちが、著作権のある作品として青空文庫に何か提供できないかどうかを考えるということも大事になってくると思います。</p>

      <p class="column">そしてパブリック・ドメインの思想や技術を伝えていくためには、具体的な活動もなければいけないと思っています。例えば図書館等々でワークショップができないかということを水面下で進めておりますし、実際に海外で青空文庫のファイルや作品がどのように使われているのか、個々の施設や機関、あるいは利用者さんに取材できないかなと思っております。噂では色々聞くんですけれども、今はとにかく情報が足りません。うちに来てください、あるいはこういうところに取材していけるんじゃないですか、ということがありましたら教えていただけると幸いです。そして現地にも必要であれば、まず私が自腹を切ると思うんですが、飛んでいきます。協力者の方も募集しておりますのでどうぞよろしくお願い致します。（ご連絡はinfo@aozora.gr.jpまで）</p>
    </div>
  </div>
</div>
