---
title: 基調スピーチ（中山信弘）| シンポジウム「著作権延長後の世界で我われは何をすべきか」 | 本の未来基金
---

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <h1>基調スピーチ</h1>
        <p class="text-right">中山 信弘（なかやま・のぶひろ） / 東京大学名誉教授・日本学士院会員
        </p>
      </div>
      <p class="column">今日のテーマは著作権延長後の世界で私たちは何をすべきか、という点であります。みなさんがお聞きになりたい各論につきましては、この後、真打ちが登場いたしましてお話があると思いますので、私からは前座といたしまして、総論的なお話をしたいと思っております。</p>

      <p class="column">著作権法とは一体なにか、著作権法が私達にいかなる利益・便益を与えているのか。現行著作権法は真の意味で著作権法第１条に書いてある文化の発展に寄与しているのかという疑いを完全に排除することはできません。自分の学問を否定するようでちょっと心苦しいのですけれども、著作権法なんかないほうが世のため人のためになるという考え方もありえますし、その反対に、いや著作権法こそ文化の発展に大いに裨益するんだという考えもあるわけでございます。私個人といたしましては、例えば多くの大学で私の本とか論文を自由にコピーしてくれたほうが世のためにと感じることもございます。もちろんそんなことになったら本屋が困る。本屋が困ると私の本を出版してもらえない。そうすると私も困るということは重々承知しておりますけれども、それでも金のない学生が私の高い本を買わなければならないというのは本当に世の中にとって正しいのだろうかというような釈然としない気持ちも持っております。</p>

      <p class="column">いうまでもなく著作権法というものは、創作者に対して著作物の独占的利用権を与え、それから得られる収益をインセンティブとして新たな創作に励んでもらう、それが文化の発展、すなわち情報の豊富化に裨益するんだ、ということを前提とした法システムでございます。もちろん著作権法には著作者人格権というものがございまして、これは大事なんことですけれども、全体で見ればやはり著作財産権のほうがより重要であろうと思えます。</p>

      <p class="column">著作権法は独占による利潤が創作へのインセンティブになるということを前提としております。つまり人は経済合理性によって動くという、経済の教科書によく出てくるようないわゆるホモ・エコノミクス（合理的な経済人）を前提にした制度であります。しかしながら他方、「人はパンのみにて生くるものではない」という、これはモーゼの有名な旧約聖書に載ってくる言葉ですけれども、これも人の心理を的確に表している。金も欲しいけれど、金だけではないということだろうと思います。</p>

      <p class="column">しかしながら法制度としては独占的利潤を与えるという方法以外にはありません。そして世界中の著作権法はそれを前提とした立て付けになっています。著作権法というものは、国とか権威のある団体、機関がその価値を判定するのではなく、マーケットがその判定をするということになっております。これは特許法も同じでありまして、特に偉い人がこれは価値があるとかないとか決めるのではなく、いわゆるアダム・スミスがいうところの「見えざる手」で動かされている世界でして、それなりに合理性はあるだろうと考えられます。そうであるからこそ著作権、あるいは特許権もそうですけれども、数世紀に渡って現代まで続いているわけです。それに代わる制度は現在のところはまだ現れてきてはおりません。しかしながら今世紀の末まで著作権が生き延びるという保証はない、誰もそれは断言できないだろうと思っております。</p>

      <p class="column">著作権制度は情報の複製や伝達の技術の手段に大きく規制を受けております。つまりこれは著作権制度はその時代の技術の産物であるといえます。現在の著作権法制度というものは決してこれは未来永劫、普遍的なものではありません。その時代の置かれている状況によって決まってくるという性格を持っております。したがってアナログの時代にはアナログに適した著作権制度、デジタルの時代にはデジタルに適した制度というものを再検討する必要があろうかと思います。</p>

      <p class="column">ただし金銭、報酬、あるいは対価だけが、人の創作へのインセンティブではない、つまり著作権制度だけが著作物の創作のためのインセンティブではないという認識は必要だろうと思います。世界最大の百科事典であるウィキペディアやフリーソフトウェアに関わる人たち、自らの著作物にクリエイティブ・コモンズ・ライセンスを適用する人たち、さらには情報の流通の観点という観点からいえば、クリエイティブ・コモンズで働いている方々。彼らは無償で喜んで働いている。その理由は、名誉か、あるいは使命感か、あるいは奉仕に喜びを感じるのか、あるいはその複合的な理由か、それはわかりませんけれども、対価、報酬だけが人の創作活動や伝達活動を動かしているわけではない。著作権法がカバーしていない創作というのが非常に多いということも事実であり、この点は認識をしておく必要があるだろうと思います。</p>

      <p class="column">従来はプロの作家とか作曲家などが創作を行い、一般人はそれを享受するだけという一方方向であったために、著作権法の制度設計の立て付けはかなり容易であったということは言えるだろうと思いますが、デジタル時代・ネット時代になりますと、誰もが創作活動をし、そして誰もがそれを世界に発信するという時代になっています。そうなってまいりますと非常に著作権制度の設計というものが難しくなってきているわけです。現在はYouTubeなどを通じて全く無名の人が一夜にして世界的な著名人になることも不可能ではないわけであります。ピコ太郎などは従来のメディアでは現れてこなかったような人材であろうと思っております。</p>

      <p class="column">またある人がネットに投稿するにあたってそのバックグラウンドミュージックとして音楽を無断で使ったためにその音楽が大流行し、結果としてその権利者、つまり侵害を受けた人は大儲けをしてしまう、そういうこともありうるわけであります。有体物の場合ですと、侵害を受けてくれたおかげで大儲けするなどということはありえません。情報の特殊性はそこにあります。ただもちろん今日におきましても従来型の才能のある作詞家、作曲家、小説家等々がたくさんおります。そして情報の創作、流通という観点からしますと、アマとプロが混在をしている、つまり両者の境界というものがわかりにくくなっています。つまりフラットな世界になりつつある、あるいはもうなっているということが言えるだろうと思います。</p>

      <p class="column">このような混沌とした状況に於きまして、著作権法というものはどこに、何に焦点を合わせて制度設計をすればいいのかということがわからなくなってきています。昨年の12月30日に発効いたしました著作権の保護期間の延長、これはTPPという条約によるものであります。またこの2月にはEPA、ヨーロッパとの経済協定が発行する予定でありまして、この両方ともが死後70年ということを原則としておりますので、いまさらこの70年はけしからんと言っても始まりません。実務的にはもう70年ということを前提として処理をしていくことが必要となるわけでます。実務的にはそういうことになってくるわけでありますけれども、期間の延長については、果たして議論を尽くしているのかという点につきまして、甚だ疑問に思えます。70年への延長ということは、ヨーロッパの場合は、ヨーロッパの統合の関係でいちばん長かった国に合わせざるを得なかったという状況がありますし、アメリカではご存知の通りミッキーマウス法と言われるように、非常に強いロビー活動があって成立したものであります。したがいまして他の先進国に合わせるというだけで本当に正当化できるのかという点については十分議論がなされていないように思えます。ヨーロッパには海賊党という政党がございまして、その海賊党は著作権に関して極めて過激な思想を持っていまして、到底マジョリティにはならないだろうと思います。しかし我々も70年になってはしまいましたけれども、ここで一度立ち止まって、このデジタル時代・ネット時代において、著作権とはいったいなんなのかということを再考してみる必要があるだろうと思います。</p>

      <p class="column">昨年著作権法は大きな改正がなされ、変革を経ました。そしてデジタルに関しましては、かなりの程度フェアユース的な規定になったと思いますけれども、世の中デジタルだけでできているわけではありません。例えばパロディに関しましては、今度の改正は踏み込んではおりません。世の中で著作権法が単独で成立し、機能しているわけではありません。例えば憲法に規定されている表現の自由と著作権という問題、これは非常に重要な問題であります。著作権法は場合によっては他人の創作活動を阻害するという機能を有しています。まさにパロディはその問題ということができると思います。アメリカでは著作権法を論じるときには必ず表現の自由の問題がでてきます。今回の改正は、デジタル中心ですので、あまり表現の自由との関連が問題となっておりませんけれども、今後は著作権と表現の自由ということに踏み込んで議論をしていく必要があるだろうと思います。</p>

      <p class="column">単に著作権は強くすれば強くするほど創作のインセンティブが増す、そして世の中の情報が増えるというほど単純なものではありません。著作権制度を見る際には、常に複眼的な視野に立って、有機的に見る必要があります。これは著作権法に限ったわけではなく、あらゆる法律の解釈、また立法の際には有機的な、複眼的な目を持つ必要があろうかと思います。</p>

      <p class="column">今、申し上げたことは法律家にとっては当たり前のことではあるんですけれども、こういってはなんですけども、著作権法の専門家の中には蛸壺的な考え方をする方もないとは断言できません。常に我々は有機的、複眼的な目をもって、著作権法をはじめあらゆる法制度を見ていく必要があるだろうと思います。</p>

      <p class="column">私の申し上げたいことは以上でございます。露払いである私のお説教的、あるいは老いの繰り言的な話はこれくらいにいたしまして、真打ちの準備もできていると思いますので、バトンをタッチしたいと思います。ありがとうございました。</p>

    </div>
  </div>
</div>
