---
title: ブロックチェーン／リーガルテックは著作権管理を変えるか？（永井 幸輔）| シンポジウム「著作権延長後の世界で我われは何をすべきか」 | 本の未来基金
---

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <h1>ブロックチェーン／リーガルテックは著作権管理を変えるか？</h1>
        <p class="text-right">永井 幸輔（ながい・こうすけ）/ 弁護士、クリエイティブ・コモンズ・ジャパン理事（NPO法人コモンスフィア）</p>
      </div>
      <p class="column">今日は錚々たるメンバーのなかで緊張しつつも、変化球を投げていきたいと思います。「ブロックチェーン／リーガルテックは著作権管理を変えるか？」というテーマでお話しさせていただきます。</p>

      <p class="column">今日お話ししたいことは3つです。1つは法律に失望したという話。もう1つは「技術」は「法」を代替するという話。最後にブロックチェーンは著作権管理を変えるという話です。</p>

      <p class="column">まずは失望という話です。冒頭に福井先生からお話があった通り、何らの条約上の義務はなかったにも関わらず著作権保護期間の延長が決まってしまいました。しかも2010年までの国内の議論を全部無視するような形で進んでしまった状況を目の当たりにしてしまうと、この国の立法のやり方にはもう期待できないのではないか、と思ってしまったところがあります。これは本当に悲しいことなんですけれども。</p>

      <p class="column">ではこの状況をどうすれば良いか。私はIT技術を使って何とかできないかと考えています。これが技術が法を代替する、あるいはエンパワーメントする、ということです。「 十分に発達した科学技術は、魔法と見分けがつかない」いうSF作家のアーサー・C・クラークの言葉が最近よく引かれますが、これは法律にも当てはまると考えています。例えば著作権侵害になるようなコンテンツを技術的にアップロードできないサイトができたとすると、そこでは著作権侵害が発生しえない。従って著作権が保護されることになります。このやり方にはデメリットもあり、あくまでも一例ではありますが、権利が守られる状況をこのような技術的アプローチで作ることも可能ではないかと思っています。</p>

      <p class="column">また例えばクリエイティブ・コモンズの場合、著作物にメタデータを付与することで、そのコンテンツがクリエイティブ・コモンズのもとでライセンスされていることをコンピュータが理解できる形で提供することができます。著作物の流通を円滑にするというクリエイティブ・コモンズの思想は、このように法と技術をうまくマージすることで実現されており、非常に工夫された設計だなと感じています。</p>

      <p class="column">法律ではなくてIT技術で、あるいは法律とIT技術を組み合せてルールメイクしていく上で、一つの重要な技術としてブロックチェーンがあります。ブロックチェーン全般についてここで話すと非常に長く、複雑になってしまいますので、ここではその詳細については思い切って省略させていただくとして、では著作権管理にブロックチェーンがどのように活かせるのかを考えてみます。</p>

      <p class="column">ブロックチェーンは鎖のように履歴を記録することができる技術です。登録は簡単ですが、改ざんは難しく、高い透明性を持ったデータベースのように用いることができます。ここからは「そうできる可能性がある」という話になりますが、例えばこの特徴を使って権利処理のプラットフォームを作れば、どこでどのように著作物が使われたかを追いかけることができます。また、利用料の分配を全て即時にかつ自動的に行うことが可能です。従来では自身の著作物の利用状況を追いかけることが難しかったアマチュアの領域の作品やまだ作品とまではいえないちょっとした素材であっても、許諾の対象とすることができます。少額での許諾や細かい条件付きの許諾もできるようになります。そのため、これまで十分に流通していなかったような作品などについても流通し、使用料を受け取れる環境を作ることができるということです。</p>

      <p class="column">また、最近はサブスクリプションモデルを通じてコンテンツが流通するようになりましたが、どのコンテンツを誰が利用したかという流通に関するデータはプラットフォーム側しか知ることができません。しかしその情報を権利者やクリエイターが持つことによって、作品をデータドリブンで使うことができる環境も作ることができます。その作品をベースにしたn次創作のツリーを作ったり、そのツリーをもとにそのn次創作の収益の一部を原著作者に分配できるようになるかもしれません。</p>

      <p class="column">実例も出てきています。利用料の100%をアーティストに送金し、関係者がいれば自動分配もできるUjo Musicや、権利登録をして自分が最初の創作者ということを示しつつ、不正利用を防止することができるBindedというプラットフォームが海外では出てきています。日本でもさまざまな試みがスタートしています。</p>

      <p class="column">ただしいずれもまだスタートしたばかりで、まだまだ本当の意味で実用的ではないのが現状です。希望は感じつつも、まだまだこれからかなという感じがします。官公庁や著作権管理事業者などが導入しはじめるとその可能性は大きく広がっていくはずです。</p>

      <p class="column">改めて、著作権保護期間延長後の世界で著作物の流通を促進していくためには、ブロックチェーンでもそれ以外でも、IT技術を用いた管理が有効だと感じています。そしてそれを実現するためには、法曹関係者だけではなく、技術者の方々をはじめ、幅広い有識者の力を借りていく必要があります。つまりこれからは、これまで以上に多くの方を巻き込んで議論を重ねていく必要があると感じています。今日の僕のこの発表がその一石になれば幸いです。もしthinkCやクリエイティブ・コモンズ、MIAUの活動に興味がある方はぜひお声かけください。どうもありがとうございました。</p>
    </div>
  </div>
</div>
