---
title: 最終20年アーカイブ可能化条項（生貝 直人）| シンポジウム「著作権延長後の世界で我われは何をすべきか」 | 本の未来基金
---

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <h1>最終20年アーカイブ可能化条項</h1>
        <p class="text-right">生貝 直人（いけがい・なおと）/ 東洋大学准教授、デジタルアーカイブ学会理事</p>
      </div>
      <p class="column">保護期間延長後の世界で我々は何をすべきかということについて、私からは最終20年アーカイブ可能化条項＋αというテーマでお話をさせていただきたいと思います。</p>

      <p class="column">私はthinkCの活動には約10年近く、大学院生の頃から関わってまいりまして、それと並行して取り組んできたのがデジタルアーカイブの実践と法政策の研究でございます。アナログで眠っている過去の膨大な知識資源を、非営利のアーカイブ施設、あるいは青空文庫のようなところが、どんどんデジタル化して、著作権が切れたものなどから公開していくのがデジタルアーカイブの取り組みです。そして特に今般、これらのデジタルアーカイブを接続し、世界に開いていくためのジャパンサーチという取り組みが政府主導で進められております。これは今年にはすでにベータ版の公開が予定されているところでございますけれど、これはまさに情報社会の知のインフラそのものであると思うのです。</p>

      <p class="column">しかしご承知の通り、著作権保護期間が延長されたことによって、こういったデジタルアーカイブで新しく公開できるものは、今後20年間はおそらくほぼ生まれてこないということになる。そのようなときにどういったことができるか。</p>

      <p class="column">20年前にソニー・ボノ法で著作権保護期間を延長した米国は、著作権保護期間の延長と同時に、その延長の副作用を少しでも少なくするため、米国著作権法の第108条に(h)項というものを作りました。108条は日本の著作権法でいうと、図書館等における権利制限規定を定めた第31条に該当するものです。</p>

      <p class="column">そしてその第108条(h)項とはなにかというと、保護期間が最終20年に入った著作物が絶版など通常の商業的利用をされていない場合には、図書館や文書館といったようなアーカイブ機関がデジタルアーカイブとして利用してよいという規定です。</p>

      <p class="column">そしてちょうど最近、この条項を利用した取り組みが米国で始まりました。米国で著作権保護期間が切れた書籍等を公開しているInternet Archiveの、「The Sonny Bono Memorial Collection」という、少し皮肉のきいたタイトルのプロジェクトです。このプロジェクトでは著作権保護期間が最後の20年となり、そして絶版であることを確認された書籍などがどんどんインターネットに公開されています。著作権保護期間は70年に延長されたけれど、非営利のアーカイブ活動であれば最後の20年間くらいは自由に公開できるべきではないかということがアメリカですでに行われているわけであります。これは日本でも、すぐにでも導入するべきだと考えます。</p>

      <p class="column">例えば著作権法31条に第4項を設けて、図書館等が保護期間の最終20年に入った絶版の資料をインターネット公開できることとする。すでに絶版等資料については国立国会図書館が図書館送信をしております。ただしひとつ課題があって、現在の日本の著作権制度は、米国のインターネットアーカイブのような民間の取り組みに、著作権法31条を適用できる形では作られておりません。そこで青空文庫のような非営利のデジタルライブラリーを対象に含むというように施行令を少し変えることが考えられます。いずれも著作権保護期間を延長した上での権利制限アプローチですので、TPPにもEPAにも矛盾はしないところであります。米国で現に導入されている最終20年アーカイブ条項はすぐにでも導入すべきだと思います。</p>

      <p class="column">しかし今の話を聞いて、現に絶版で、しかも非営利のしっかりとしたアーカイブ機関が公開するのであれば、とくに最終20年に限定する必要はないのではないか、とお考えになった方も多いかと思います。これについてはEUが今、ドラスティックなアプローチの検討を進めております。</p>

      <p class="column">現在EUでは非常に包括的な著作権法の改革を進めようとする「デジタル単一市場における著作権指令」案というものが審議されております。その中で、文化遺産機関が、これはまさにアーカイブ機関のことでございますけれど、所蔵する絶版（out-of-commerce）作品の利用に関して、集中権利管理団体に参加していない著作者のものに関しても、その分野の代表的な集中権利管理団体が許諾を出せるというECL、拡大集中許諾制度を導入するという条項がもともと同指令の提案に含まれておりました。そしてさらに最新の議会修正提案によれば、そういったライセンス手段が機能しない分野においては、文化遺産機関が絶版作品をオンライン公開することを可能とする権利制限規定を導入することを加盟国に求める条項が新たに提案されております。これが可決すれば、EU加盟各国は著作権法にこの権利制限を導入せねばなりません。</p>

      <p class="column">日本においても、様々な形で今からできることはいろいろあるはずです。元々は欧米にならって保護期間を延長したわけですから、少なくとも米国著作権法108条(h)項と同様の最終20年条項は積極的に考えるべきです。そして対象をどう設定するかということなど議論はあると思いますが、絶版等資料全体の非営利アーカイヴ公開ということに関しても、積極的に議論をしていくべきところだというふうに思います。米国も欧州も日本より先に著作権保護期間を延長してきた。しかしその弊害を理解した上で、やれるべきことはしっかりとやっているといえます。まさにこのシンポジウムをスタート地点にして、こういった提案をしっかりと深めていくことができればというふうに考えております。ありがとうございました。</p>
    </div>
  </div>
</div>
