---
title: クリエイティブ・コモンズの更なる普及（渡辺 智暁）| シンポジウム「著作権延長後の世界で我われは何をすべきか」 | 本の未来基金
---

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <h1>クリエイティブ・コモンズの更なる普及</h1>
        <p class="text-right">渡辺 智暁（わたなべ・ともあき）/ クリエイティブ・コモンズ・ジャパン（NPO法人コモンスフィア）理事長</p>
      </div>
      <p class="column">私はコモンスフィアというNPO法人の理事長をしています。クリエイティブ・コモンズというオープンライセンスのプロジェクトがあるのですが、コモンスフィアはそのクリエイティブ・コモンズ・ライセンスの日本での普及を行っている団体です。</p>

<p class="column">今回のTPP11批准にかかる著作権法改正では、当初伝えられていたよりもずいぶん限定された形とはいえ、著作権侵害の非親告罪化が導入されました。こういった著作権問題をみなさんがどのように考えているのかを調べるためにインターネットを見ていたら、ヤフー知恵袋などのQ&amp;Aサイトに今回の法改正に限らず、非親告罪化に関係する質問をされている方がたくさんいるんですね。TPPによる著作権問題が大きく盛り上がったこともあって、多くの質問がされていました。これは著作権侵害の非親告罪化はやはり非常に深刻に捉えられている方が結構いるということを示しています。</p>

<p class="column">非親告罪化の導入によって何が変わるのかということは、文化庁のウェブサイトにいままでより比較的整理され、分かりやすく解説されています。しかしそれでもこれは法律を読んだ経験のないクリエイターや消費者が読んですぐに分かるものではありません。だからヤフー知恵袋のようなサイトに質問が集まるんだと思います。</p>

<p class="column">そしてそこに寄せられる質問や回答を見ていると、何をしていいのか、あるいは何をしてはいけないのかというところが「枠」としてしか理解されていない。あるいはそもそも誤解されているということも多々見受けられました。そしてこのように著作権が複雑になっている環境では、どれが利用してよいコンテンツなのかということがわかりやすくなっていることがクリエイターにとっても助かる状況になっています。非親告罪化の導入によって、それはこれまで以上に求められるようになったと感じています。そのような視点からは、ゲーム実況のような形でゲームのコンテンツを使うことについて、任天堂がガイドラインを示したことは非常にわかりやすいし、積極的に評価すべきトレンドであるとも思いました。</p>

<p class="column">そして著作権保護期間の延長問題について。その前提として著作権そのもののあり方について考えねばならないと感じています。現代社会にはデータやコンテンツと呼ばれるもので溢れていますが、それが著作物なのか、それともそもそも著作物でないのかという区別がつきづらくなっています。またその利用の仕方もさまざまです。どこに著作物性があって、どこにないのか。何をどうすれば安心して使えるのか。著作物を利用する際には何を注意しなければならないのか。そういったことがわかりにくくなっているものが非常に増えています。</p>

<p class="column">例えばAIが生成したコンテンツは、その進化によって、プロのクリエイターが作ったものと区別がつかなくなってきています。あるいは自動生成されるような記録映像について。先日米国でサルの自撮りの著作物性が裁判で争われたことが話題になりましたけれども、誰がどのような経緯で作ったものなのかが分からないものも増えています。そしてそれにそもそも著作物性があるのかどうかも問われるようになってきました。</p>

<p class="column">そしてインターネット上でミームと呼ばれるもの。人々が転々と転載したり、ちょっと手を加えたりして活用しているようなものの類には起源が不明なものがたくさんありますね。そうすると一体許諾を貰おうにもどこに行ったらいいのか、誰に許諾をもらいに行けばもらえるのかというのがわからない。</p>

<p class="column">非常に著作者が多いコラボレーションの作品やn次創作と呼ばれるようなものについても考えてみましょう。Wikipediaには100人を超える人が編集を加えた項目などはザラにあります。そういうものについて完全に許諾をとろうとするとものすごい大変なことになるわけです。</p>

<p class="column">これだけではありません。政府は今、報告書や白書などのデータや図表をオープンデータという形で提供するようになりました。ただそのようなデータの中に第三者の権利物が入っていることがあります。報告書や白書の中で利用することについては許諾は取れている。ただそれを更に活用してなにかに再利用することまでは考えられていません。そこで政府はどのデータが第三者の権利物なのか全部調べて情報整理して提供することはできないから、「利用する場合は使う側が判断してください」、というかたちで提供しています。侵害物が入っていないという保証は普通、ついていません。世界的に見てもこんな状態でさまざまなデータが提供されています。そのようなデータについてはリスクを取ってでも使おうという人もいるし、それはちょっと危ないなと二の足を踏んでしまう人もいるというのが現状です。</p>

<p class="column">このようにただでさえ著作権を巡る状況が複雑になっている社会に、さらに著作権保護期間延長によって権利者不明の作品が増えてしまう。まさに泣きっ面に蜂という状態だと思います。</p>

<p class="column">作家や企業が才能を発揮し、大きなお金をかけて作った作品であれば、誰が権利者で、許諾をどこから取ればいいかというのは、比較的、相対的に楽にわかることです。ただ現在でも</p>
<p class="column">一般の人が自分のサイトで少し使いたいと思っても、そのような利用のための許諾を取るのはハードルが高いところがありますが。しかし民話や昔話のようなところもある、伝承される中で改変が加えられて表現されているものや、データの大量処理に代表されるような、ネットやITの出現によって出てきた利用については、権利処理が大変な状況は変わっていません。</p>

<p class="column">これまで述べてきたような現代社会における著作物のありかたとして、どういうコンテンツがどういった利用ができるのかということがわかりやすくあることが求められます。そしてこれを実現するのがクリエイティブ・コモンズ・ライセンス、というのが私の考えです。もちろんクリエイティブ・コモンズ・ライセンスがすべての問題が解決するとは思っていません。今日、他の方々が提案してくださっているような解決策との合わせての利用だとは考えています。</p>

<p class="column">ただクリエイティブ・コモンズ・ライセンスを用いることで、クリエイターは自身の作品について自分の指定した範囲で使ってもらえることができ、死蔵から逃れることができます。クリエイティブ・コモンズはWikipediaや各国政府で導入されていますので「あのライセンスは自分もかつて読んだことがある」「かつてあのライセンスがついたコンテンツをつかったことがある」とユーザーから見ても馴染みがあります。クリエイティブ・コモンズを通じて著作物がわかりやすく使いやすいという世界を実現できる、そんなクリエイティブ・コモンズが今後重要性を増していくだろうと思っている次第です。みなさまぜひご協力をどうぞよろしくお願いいたします。</p>
    </div>
  </div>
</div>
