---
title: 著しく短縮して語る著作権延長問題の経緯とこれから（福井 健策）| シンポジウム「著作権延長後の世界で我われは何をすべきか」 | 本の未来基金
---

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <h1>著しく短縮して語る著作権延長問題の経緯とこれから</h1>
        <p class="text-right">福井 健策（ふくい・けんさく）/ 弁護士、thinkC世話人</p>
      </div>
      <p class="column">こんばんは。保護期間が延びましたけれど、私は元気です。「著しく短縮して語る著作権延長問題の経緯とこれから」と題してお話をいたします。限られたシンポジウムの時間の中で20分という最長の時間をいただいておりますが、内容が内容ですので、かなり急いでのお話となることをあらかじめお詫び申し上げます。</p>

      <h2>保護期間延長の経緯と懸念された点</h2>

      <p class="column">著作権保護期間について、その歴史は300年前からスタートします。世界最古の著作権法であるアン女王法では、その保護期間は発行から14年あるいは28年。今から考えるとかなり短い期間からスタートしています。ところが19世紀ぐらいから、知的成果の複製そして流通手段が発達をしていきます。そしてそれに合わせて保護期間の延長が始まります。この動きが大きくなるのは特に1990年代。1993年には欧州、そして1998年には米国が、相次いで死後70年原則で保護期間を伸ばします。米国では激論になりまして、憲法訴訟にまで発展しましたけれども、7対2という票差で合憲の判決が出ました。以後欧米は他国に対して保護期間の延長を求めるようになります。日本に対しても米国はいわゆる年次改革要望書で延長を求めるということが続いていたわけです。</p>

      <p class="column">保護期間延長を考える上で、日本にとってエポックメイキングなのは2006年。この年9月に権利者団体が延長の要望書を文化庁に提出しました。そしてこれをうけて文化庁が期間延長の検討を開始するわけですね。この段階では延長は既定路線と見る向きが強かったのではないかと思います。しかし青空文庫はその前年から保護期間の延長反対を訴えておりました。そしてこの年の11月、さまざまなジャンルのクリエーター、事業者、実務家、研究者などが集いまして、保護期間の延長問題を慎重に検討しようというthinkCというフォーラムが発足します。発起人が最大110名という規模でして、今日ここにも多くのメンバーがいらっしゃっています。そしてthinkCは発足後、シンポジウムや意見書の提出、提言などを繰り返していきます。すでにシンポジウムのインターネット中継も行っていました。この種のネットシンポでは走りのひとつだったように思います。このような動きを経て、文化庁の文化審議会では「保護利用小委員会」と「基本問題小委員会」の2つの委員会にわたり、保護期間延長の是非を議論することになります。メンバーにはここにいらっしゃる中山信弘先生、津田大介さん、瀬尾太一さんなどが入っていました。そして審議会の場で賛否議論を尽くした上、2010年には延長は事実上見送るという結果になりました。</p>

      <p class="column">一体どんな懸念があって延長を事実上見送ることになったのかと言うと、理由は大きく分けて3つです。まず一つは、保護期間を伸ばしたところで遺族の収入はほとんど増えないのでないかという指摘でした。これについては朝日新聞社の丹治吉順さん、慶応大学の田中辰雄先生などの実証研究が発表されています。その研究によれば、作品の市場での寿命は実はそんなに長くないのですね。書籍については、作者の死後50年時点で出版されている本は全体の約2%弱ぐらい、そして死後70年になると0.8%ぐらいまで落ちてしまう。つまりほぼ売られてないわけです。売られているのはごく一部の作品だけであって、大多数の作品は市場から姿を消しているわけですね。いくら保護期間を伸ばしても、それが市場で売られていなければ遺族の収入は一銭も増えませんので、保護期間の延長にはメリットがなさそうです。</p>

      <p class="column">更に、そういう多くの市場で流通していない作品を中心に、保護期間の延長により散逸が進むのではないかということが危惧されています。これらの作品が命を保ち続ける上では、例えば青空文庫、国立国会図書館のデジタルコレクションのようなデジタルアーカイブなどの非営利の活動、あるいはさまざまな研究活動が頼りです。しかし保護期間が伸びてしまうと、著作権の相続回数が増えますから、権利関係が複雑になり、権利処理が難しくなります。ひどい場合は探しても権利者が結局見つからない権利者不明作品、いわゆるオーファンワークスの状態になります。この不明作品は一般に考えられているよりもずっと多くて、過去全作品の半数かそれ以上というデータが国内外で出ております。権利処理が困難になることによって、アーカイブ活動などができなくなってしまう。</p>

      <p class="column">古い作品に基づく二次創作もより困難になります。今後5年の間に本来だったら著作権保護期間をほぼ終えるはずだった作家は、数多くいました。一例としては『赤毛のアン』の翻訳者の村岡花子、藤田嗣治や三島由紀夫。多くの童謡や流行曲の詩を手がけた西条八十。志賀直哉、川端康成。志ん生、文楽。サトウハチロー。海外に目をやりますと。スタインベック、ジミ・ヘンドリックス。ジャニス・ジョプリン、ストラヴィンスキー、ピカソ、そして指輪物語のトールキン。こういう傑作群に基づく二次創作は保護延長によって困難になります。</p>

      <p class="column">民間の負担増ということも言われました。なぜ欧米が各国に著作権保護期間の延長を求めているかと言うと、欧米は古い作品で稼いでいるからですね。コンテンツの大輸出国だからです。日本は残念ながら真逆、収支で言うと大輸入国でして、払い出す著作権の使用料は、受け取っている使用料の差額は大赤字です。この赤字は概ね年々拡大しており、直近、2017年は年間8500億円を超える赤字を記録しています。これにはビジネスソフトウェアなどによるものも大きいですが、米国商務省のデータによるならば、文化作品も決して割合は低くない。つまり保護期間が伸びると、民間の著作権使用料の負担が増加します。そして契約の負担ものしかかってくる。</p>

      <p class="column">過去の作品が埋もれ、散逸しやすくなる。その二次創作もより困難になる。民間の負担も増える。でも遺族の収入は増えない。これらが延長で懸念される事態だと言えるでしょう。</p>

      <p class="column">2010年に著作権保護期間の延長は一度見送られました。しかし問題はすぐに再燃します。米国や日本をはじめとした環太平洋の国々の間で議論されていた包括的な通商協定、TPPの米国提案による知財条項案が2011年に流出したのです。この中に加盟国は保護期間を死後70年原則に延長せよという要求が入っていたわけです。これによって国内の議論も再度高まり、2012年にはクリエイティブコモンズジャパン、MIAU、thinkCの3団体によるthinkTPPIPが結成され、ネットシンポ、さまざまな提言や意見書の提出、政府説明会への出席などをおこないます。政府はこの頃からTPP交渉に関する説明会を再三開きますが、これに多数の知財関係団体が出席するようになりました。政府はその説明会において、保護期間の延長、そして著作権侵害の非親告罪化の問題では各国が激しく対立し、重要な問題である、と繰り返し説明します。</p>

      <p class="column">海外での動きも出てきました。2013年には米国議会で当時の著作権局長が保護期間の部分短縮を提案しています。これはおそらく議会史上初めてのことでしょう。その理由は一点。保護期間を死後70年に伸ばしてみたところ、権利者不明作品が激増し、かえって国益を害していると。そのための保護期間の部分短縮の提案でした。その翌年、2014年にはクリエイティブ・コモンズや、米国の電子フロンティア財団、そして図書館協会など、各国の有力なNPOが35団体集まり、TPPによる著作権保護期間の延長に反対の国際声明を出します。thinkTPPIPもこれに加わりました。</p>

      <p class="column">しかし、この頃から、日本政府が保護期間延長については譲歩するという報道が増えはじめ、そして最終的には延長で大枠合意したと報道されることになりました。</p>

      <p class="column">この頃、米国で大きな動きがあります。米国大統領選挙に立候補したトランプ候補は、大統領選挙中から、公約としてTPPからの離脱をあげていました。著作権保護期間延長は米国が求めていたもの。包括的な通商協定で実を取るため、我が国は著作権保護期間を譲歩したはずです。しかしそのTPPから米国は離脱するかもしれない。そうするとTPPの発効そのものも危ぶまれる事態です。潮目が変わるかなと思ったところが……変わりませんでした。TPPから米国の離脱が予想される中、日本政府はTPPを批准するための特別法を前倒しで整備してしまいます。これには著作権保護期間や著作権侵害の非親告罪化も含まれていました。非親告罪については国内の懸念の声を受け、二次創作を害さないようなさまざまな工夫を政府は入れてくれました。しかし保護期間延長については、この時点では懸念点に対応するセーフガードもほとんどなかった。唯一あったのは、TPP関連法はTPPの発効によって初めて施行されるいうことだけでした。つまり著作権保護期間の延長の時計の針は、一秒前で止まっていたというわけです。</p>

      <p class="column">日本でTPP関連法が成立した一ヶ月後、2017年1月には米国でトランプ氏が大統領に就任。公約通り米国はTPP協議を離脱しました。これでTPPは発効の可能性がぐんと低くなりました。しかしここから今度は日本政府が主導して、米国抜きの11カ国による、TPP11の協議が始まります。</p>

      <p class="column">政府がTPP説明会で述べていたように、TPPの協議では著作権保護期間の延長には多くの国が反対していました。米国の求めに応じて保護期間延長を飲んでいたわけです。しかし米国はいない。当然、TPP11の協議では保護期間の延長条項を入れることに反対の声が強まります。ここで保護期間を延長しないでおけば、その導入を交渉材料に米国にTPP復帰を促しやすいという目論見もあって、TPP11では延長に関する部分が凍結されました。つまり条約上の義務から著作権保護期間延長がなくなったわけです。</p>

      <p class="column">が、やはり政府は変わらないのですね。この年、2017年11月には、政府がTPPと並行して交渉していたEUとのEPA協議の中で、保護期間延長で合意してしまっていたことが4ヶ月遅れて公表されるという事態がおきます。これは日経新聞の報道でした。つまり2017年の夏には政府は保護期間延長を既定路線としていたということです。</p>

      <p class="column">そして2018年3月、日本はTPP11に署名しました。TPP11では保護期間に関する部分は凍結されたままで、EUとのEPAはまだ発効していない。つまり条約上の義務はないにも関わらず、2018年6月に国会は保護期間延長を含むTPP整備法を可決。これに伴って2018年12月30日、TPP11は発効し、発効と同時に即日TPP整備法が施行。日本において著作権保護期間が死後70年原則へと、20年延長されました。期間延長を受け、即日、thinkTPPIPを構成する3団体を中心に、作品の散逸を止めるための取り組みを今後前向きに進めようという署名活動がchange.orgでスタートしました。今も多くの署名が集まっています。</p>

      <h2>保護期間はどうなったのか</h2>

      <p class="column">こうして保護期間は延びました。ではそれでどうなったか、見てみましょう。</p>

      <p class="column">原則これまで著作者の死後50年間の保護だったものが、死後70年間に伸びました。戦時加算を含めると100年を超える保護期間も珍しくなく、超長期化したわけです。匿名や変名の作品については、作者がいつ死んだかよくわかりません。団体に至っては死にません。これらの作品は公表後50年だったものが公表後70年になりました。映画はもともと公表後70年で変わりません。歌唱や演技などの実演や、あるいはレコード音源はどうでしょうか。これらについては著作隣接権という、著作権と似ているけれども、ちょっと狭い権利で保護されています。これは実演から50年あるいはレコード発行から50年の保護だったものが、やはり70年に伸びました。</p>

      <p class="column">ただしこの延長の効果は遡及しません。つまりこの時点で保護期間が存続中、正確に申し上げれば法文の関係で、2018年12月29日時点で保護期間が存続中のものだけが延長の対象です。先ほど例に挙げた藤田嗣治や村岡花子、三島由紀夫などは保護が延長されます。しかしすでに保護期間が満了していた江戸川散歩や谷崎潤一郎、山本周五郎、そして『くまのプーさん』などはパブリックドメインのままです。</p>

      <p class="column">この『くまのプーさん』などに関わってくる戦時加算についても紹介しておきましょう。先の大戦中の連合国の作品については、サンフランシスコ平和条約において、日本は戦争に負けたペナルティ的に、一方的に保護期間を伸ばす約束があります。この戦時加算規定によって、最大で10年5月ほど保護期間が伸びるわけですね。よって死後50年時代でも、古い欧米の作品の多くは実質死後60年の保護でした。国内で保護期間延長を議論している時に、一部の権利者団体は、「今後一律で20年延長するバーターとして、この国辱的でもある戦時加算を解消するのだ」と主張しました。では戦時加算はどうなったのか。現状は撤廃されていない状態です。</p>

      <p class="column">TPP交渉の中で交わされた、政府の交換公文がいくつか発表されています。その中では確かに戦時加算問題は今後話し合おうね、ということは記載されています。そして民間の団体、例えばJASRACなどの集中管理団体同士の自主的な話し合いを歓迎するとも記載されています。明記はされていませんが、つまり管理団体同士で戦時加算分を返納するような協議が歓迎されているのでしょう。しかしそこまでです。最新の米国との交換公文を見ると、むしろ戦時加算の有効性を確認するような文章が記載されています。残念ながら現状では70年に延長された保護期間のうえに、更に戦時加算分が上乗せされてしまう状況に変わりはありません。つまり、バーターどころか、日本は先進国でも稀有な死後80年国になってしまっている状況です。</p>

      <h2>我々に何ができるのか</h2>

      <p class="column">こんな状態ではありますけれども、我々はここから何ができるかを前向きに考えていかなくてはならない。そこでここからは作品を死蔵と散逸から救うために、我々に何ができるかということを考えてみたいと思います。</p>

      <p class="column">例えばさまざまな流通促進策が考えられるでしょう。ひとつはストレートにアーカイブの振興です。民間では青空文庫やマンガ図書館Ｚ、そしてその他、実にたくさんのアーカイブ活動が行われています。国立国会図書館のデジタルコレクションに代表されるような公共のアーカイブ活動もあります。そしてそれらを束ねる「ジャパンサーチ」という情報ポータルサイトも試験運用が始まりました。このようにアーカイブ活動を振興していこうという動きが挙げられます。これについてはこの後、青空文庫の大久保さんがお話をしてくれるものと思います。</p>

      <p class="column">そして絶版、市場から姿を消している作品が非常に多い問題。この利活用も進めなければならない。これに関しては生貝先生がこの後魅力的な提案を発表してくださるでしょう。また漫画家の赤松健さんからも、刺激的な提案が準備されていると聞いています。</p>

      <p class="column">さらにオーファンワークス、権利者不明作品をどう利活用していくかという問題。これには文化庁が権利者不明の作品に代わりに利用を許可をしてくれるという裁定の制度は確かにあり、政府は運用改善をかなり前向きに進めてくれているので、昔に比べるとかなり使いやすくはなっています。しかしこれをさらにどう改善できるか、瀬尾さんがこのあと紹介してくださるはずです。</p>

      <p class="column">戦時加算問題。これは平和条約上の義務ですから、撤廃は容易ではないはずです。しかし戦時加算の撤廃の努力は続けるべきであり、これは現在の死後80年国を生じさせてしまった政府、そして権利者団体にとっての宿題だと思います。この問題については上野教授からパネル討論の冒頭で解説いただけることになっています。</p>

      <p class="column">そしてパブリックライセンス。これは「私の作品はこういうルールだったら使ってくださって構いませんよ」と利用条件を作者自身が公開していくような動きです。この普及も今後の利用流通促進の鍵になってくるでしょう。クリエイティブ・コモンズ・ライセンスのようなパブリックライセンスがついた作品は権利者不明にならない訳です。クリエイティブ・コモンズ・ライセンスについてはこの後渡辺先生からさらなる活用策を含めて解説をいただきます。</p>

      <p class="column">デジタルライセンス市場の充実。権利者がわかっている作品について、商業利用を含めて利用許諾、そして利活用していく仕組みも今後の鍵となるでしょう。これにはどんな知恵があるのか。永井弁護士が発表してくださいます。</p>

      <p class="column">そして、こうした流通促進策と同時に、我々は今回の保護期間延長の経緯から何を学ぶべきなのか。つまり情報社会のルールメイクはいったい誰が主役で、どのように行っていくべきなのか。これは後半のパネル討論で話題になるでしょう。この点については太下さんがコメントをしてくださるはずです。</p>

      <p class="column">以上、駆け足で保護期間延長問題の経緯、課題についてご紹介をさせていただきました。先人達の遺した作品を死蔵と散逸から防ぐための多くの知恵が、この場に集まることを期待しております。どうもご清聴ありがとうございました。</p>

    </div>
  </div>
</div>
