---
title: オーファン問題をどう解決していくか（瀬尾 太一）| シンポジウム「著作権延長後の世界で我われは何をすべきか」 | 本の未来基金
---

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <h1>オーファン問題をどう解決していくか</h1>
        <p class="text-right">瀬尾 太一（せお・たいち）/ 写真家、日本複製権センター代表理事</p>
      </div>
      <p class="column">こんにちは。著作権保護期間70年延長の張本人のように言われております瀬尾でございます。先ほど福井弁護士から著作権保護期間延長に関する議論のこれまでの説明がありましたが、2010年の文化庁での保護期間延長の論争の後、権利者側から延長を求める声が小さくなったことにはお気づきだと思います。それはなぜか。そしてオーファンワークスの問題を権利者はどう解決しようとしているのか、今日はそのあたりについて、この年末年始に考えを巡らせ、そのなかで気づいたことを皆さんにご紹介しようと思います。</p>

      <p class="column">さっそくですが、なぜ権利者団体から著作権保護期間延長を求める声が小さくなったかというと、保護期間を伸ばすに際しての義務を真剣に考え始めたからです。我々は保護期間延長に対して責任を持たなければならない。今回の延長にあたって、延長したからには何をせねばならないかということを真剣に考えはじめました。これは私だけではありません。たくさんの権利者団体が集まって考え始めています。</p>

      <p class="column">オーファンワークス対策については、保護期間が延長される前から文化庁と実証事業として始めています。具体的は、権利者団体が一般の方に代わって文化庁に対する裁定制度の煩雑な手続きをほぼ全部代行するという試みです。代行にかかる費用は無料で、非常に好評を得ています。現在はその実証実験の第3回を行っていますが、第2回までに分かった課題は大きく分けて3つです。</p>

      <p class="column">まずは大量処理について。届け出を受ける文化庁には2～3人しか担当者がいません。そんなところに1万点の裁定を出したらどうなるか。そもそも裁定制度は大量処理をするための制度ではないんですよね。通常の権利処理ではどうしようもない、最後の手段としてやるものだからです。図書館によってデータベース化されたようなものからの処理だったり、試験問題の2次利用だったり、そういう必ず発生するようなものについては制度的な対応が必要になると考えられます。</p>

      <p class="column">事務的手続きの円滑化ということもやはり必須ですね。全自動ということはなかなか難しいんですけれども、ただこれはもっと制度的に簡単にしなければ厳しい。</p>

      <p class="column">そして裁定制度で対応可能な範囲の拡張について。オーファンワークスに関する著作権に関する問題というのは、実はなんとかなっているんです。だけどオーファンワークス問題を解消するには著作権だけをクリアしてもあまり意味がない。さまざまな著作隣接権や肖像権などもクリアする必要があるし、そして法的に根拠があるわけではない商習慣もある。こういったものも解決しないと使えないものが多いんです。こういったものをトータルで解決する手段が求められているというのが現状です。</p>

      <p class="column">オーファンワークス対策として拡大集中許諾制度（ECL）の導入が挙げられます。様々に交渉を続けていますけれども、日本ではなかなか難しそうというのが実際です。そこで第2回の実証実験を通じて提案したのが「限定的拡大集中処理」です。これは対象となる著作物と、利用の範囲について、極めて限定的に団体が許諾を出せる制度で、通常の使用を妨げない、著作権者の利益を不当に害さない特別の場合について、特定の団体が許諾を出せる制度です。この条件を聞いて、著作権に詳しい方はスリーステップテストを思い出した方も多いと思います。確かにこの条件は権利制限をされてもおかしくないんですけれども、そうではなく、逆に広い範囲について適用できるようにする。そんなことができたらいいなと考えたりしました。</p>

      <p class="column">現状ではオーファンワークスの解決について、裁定制度の活用と、今実証実験でやっているような裁定制度を代行する制度、そして拡大集中許諾。この三つを併用することが重要だと考えています。オーファンワークスについてはどんどん今後増えていきます。この状況に対応するには抜本的な対策が必要です。オーファンワークスについては権利者団体はかなりの責任を背負うべきだと考えており、相当真剣に考えています。</p>

      <p class="column">そのような事例の一つをご紹介します。これは無名または変名の著作物の保護期間について、日本著作者団体協議会での検討案です。著作者団体協議会は1960年に設立された、さまざまな著作物の権利者団体が集まった団体です。オーファンワークス対策では変名・無名の著作物の取扱が問題になりますが、この検討案ではそのような変名・無名の著作物については公表から50年経てば少なくとも公表してもいいのではないかということが記されています。こんな権利制限を権利者団体が考え、法改正を願っている。そんな時代が来ているのです。</p>

      <p class="column">そして最後にちょっとおまけのような話をします。これは私の未来への夢想です。ただこれは今後立ちはだかる大きな問題、そしてその根本的な解決につながってくると思っています。</p>

      <p class="column">それは「AIの時代」は「共有の時代」なのではないかということです。今、「モノ」から「コト」へということが言われています。社会の目的が、個人が何かを所有することを目指すことから、 社会で「コト」を共有する時代になってきています。そんな社会では、そもそも所有することが困難な無体財産である著作権も、これからますます社会で共有されていくことを求められるのではないかと思っています。つまりこれは権利制限が拡大していくということではないか、と私は考えています。ではどうしたら創作を経済的に成立させていくのか。</p>

      <p class="column">現在はひとつの著作物に対して、支払が生じます。しかし今後は広く社会で著作物に対する支払いを徴収し、 それを著作者に分配するシステムが必要となるのではないでしょうか。つまり現在の補償金制度のような徴収方式によって、 著作権使用料は徴収され、 その著作権使用料が、包括としてではなく、 著作者に精密に分配されるシステムが必要になると思うのです。今後の先行きを考えた場合、社会的サブスクリプションモデルと呼ばれるような著作物の利用と使用料の支払いという形になっていくのではないかというという気がしています。そのためにもブロックチェーンなどの新しい技術による仕組みを現時点から研究し、AIによって変化する社会に対応し、実用化していくことが大切なのではないかと、こんなことをこの正月に考えました。</p>

      <p class="column">これは正月の夢かもしれません。しかしいろんなことを考えて解決策を探ろうというふうにに思っています。権利者団体も捨てたものではないよ、と言って終わらせていただきます。</p>
    </div>
  </div>
</div>
