---
title: 基金について | 本の未来基金
---

          <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">本の未来基金</a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li>
                    <a href="index.html">ホーム</a>
                  </li>
                  <li class="active">
                    <a href="about.html">基金について</a>
                  </li>
                  <li>
                    <a href="donate.html">寄付をするには？</a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">会計報告<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="account2013_4q.html">2013年9月15日〜2014年1月6日</a></li>
                      <li><a href="account2014.html">2014年1月7日〜2015年5月1日</a></li>
                      <li><a href="account2015_2q.html">2015年5月2日〜2015年9月30日</a></li>
                      <li><a href="account2015_4q.html">2015年10月1日〜2016年3月31日</a></li>
                      <li><a href="account2016.html">2016年4月1日〜2017年3月31日</a></li>
					  <li><a href="account2017_201808.html">2017年4月1日〜2018年8月31日</a></li>

					</ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">活動報告<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="report.html">青空文庫の夢：著作権と文化の未来</a></li>
                      <li><a href="singapore.html">TPPシンガポール交渉派遣</a></li>
                      <li><a href="committee20151002.html">「本の未来基金」運営委員会のご報告と<br/>これからの活動について</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="contact.html">お問い合わせ</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
            <div class="col-md-3">
                <div class="bs-sidebar hidden-print" role="complementary">
                  <ul class="nav bs-sidenav">
                    <li><a href="#top">「本の未来基金」について</a></li>
                    <li><a href="#what">何に使われるか</a></li>
                    <li><a href="#relation">青空文庫と「本の未来基金」</a></li>
                    <li><a href="#operation">「本の未来基金」の運営</a></li>
                    <li><a href="#bylaw">「本の未来基金」運営規約</a></li>
                  </ul>
                </div>
              </div>
              <!--/span-->
              <div class="col-md-9">
                <h2 id="top">「本の未来基金」について</h2>
                <p>青空文庫の今後の活動支援等の原資として、広く賛同者から寄付を募り、「本の未来基金」を創設します。青空文庫コンテンツに人生の喜びを見出し、その理念に共感する個人・企業・団体の方々に、積極的なご支援を頂ければ大変嬉しく思います。</p>
                <div class="page-header">
                  <h3 id="what">何に使われるか</h3>
                </div>
                <dl>
                  <dt>入力されたテキストの校正</dt>
                  <dd>青空文庫には日々ボランティアの方から入力されたテキストデータが届きます。しかしこのデータをそのまま公開することはありません。入力した人とは別の人が届けられたデータが本当に正しいか、校正作業を行った上で公開されます。現在青空文庫にはこの校正作業待ちのテキストが山積みになっています。それらのなかから長い間公開を待っている作品や校正の難しい作品について、この校正作業を速やかに行うために、現在青空文庫では寄付金を原資に専門の校正者に有償で作業を依頼しています。「本の未来基金」に寄せられた寄付は、この有償校正に必要な資金に充てられます。</dd>
                  <dt>今後の青空文庫を担う人材の育成</dt>
                  <dd>青空文庫が今後も発展していくためには、今後の青空文庫を担う人材を育成する必要があります。「本の未来基金」に寄せられた寄付は、この人材育成にも使われます。具体的には現在、校正者を養成する講座の開催を計画しています。</dd>
                  <dt>その他</dt>
                  <dd>以上の用途以外にも、青空文庫のインフラを維持・改善していくため、また青空文庫に関係するイベントにも利用されます。</dd>
                </dl>
                <p class="text-center">
                  <a href="donate.html"><button type="button" class="btn btn-warning btn-lg">基金を支援する</button></a>
                </p>
                <div class="page-header">
                  <h3 id="relation">青空文庫と「本の未来基金」の関係</h3>
                </div>
                <p>「本の未来基金」と青空文庫の運営は独立しています。「本の未来基金」に寄せられた寄付は、基金の運営に必要な経費以外は全て青空文庫の会計に送られ、その用途は青空文庫に委ねられます。「本の未来基金」はあくまでも寄付の呼びかけと取りまとめ、寄付金の用途の最低限の確認のみ行います。そのため「本の未来基金」は青空文庫より会計報告を受けます。「本の未来基金」に寄せられた寄付の額や寄付者（希望された方・企業のみ）及び「本の未来基金」の運営に使用した経費は、このウェブサイトで公開します。</p>
                <div class="page-header">
                  <h3 id="operation">「本の未来基金」の運営</h3>
                </div>
                <p>「本の未来基金」は以下の6名の運営委員によって運営されます。</p>
                <ul>
                  <li>富田 晶子</li>
                  <li>萩野 正昭（株式会社ボイジャー）</li>
                  <li>津田 大介（一般社団法人インターネットユーザー協会）</li>
                  <li>福井 健策（弁護士）</li>
                  <li>八巻 美恵（青空文庫）</li>
                  <li>大久保 ゆう（青空文庫）</li>
				</ul>
                <p>運営委員は四半期に一度運営委員会を開催し、「本の未来基金」に寄せられた寄付を確認し、青空文庫に送ります。「本の未来基金」の運営については以下の運営規約も併せてご覧ください。</p>
                <div class="page-header">
                  <h3 id="bylaw">「本の未来基金」運営規約（平成29年6月17日改正）</h3>
                </div>
                <p>
                  <strong>(名称および所在地)</strong>
                  <br/>第1条 当基金の名称は「本の未来基金」とし、当基金の事務所を東京都渋谷区神宮前五丁目41番14号（株式会社ボイジャー内）に置く。
                </p>
                <p>
                  <strong>(目的)</strong>
                  <br/>第2条 当基金は、富田倫生追悼イベントの実施、及びインターネット電子図書館「青空文庫」の活動を将来にわたって支援することを目的とする。
                </p>
                <p>
                  <strong>(事業)</strong>
                  <br/>第3条 当基金は、前条の目的を達成するため、次の事業を行う。なお、富田倫生追悼イベントの経費の支出及び運営に必要な限度の経費留保金を除き、(1)の送金は四半期毎に、その時点での寄付金残額の全額を青空文庫指定の口座に送金することをもっておこなう。
                </p>
                <p>(1) 「本の未来基金」の募集・寄付の受入れ・青空文庫への送金
                  <br/>(2) 青空文庫よりの会計報告の受領及び公表
                  <br/>(3) その他、前条の目的を達成するために必要な事業
                </p>
                <p>
                  <strong>(運営委員会)</strong>
                  <br/>第4条 当基金は、運営委員会を置き、運営委員が運営・管理を行う。
                  <br/>2 運営委員の定員は、3名以上10名以下とする。
                </p>
                <p>
                  <strong>(運営委員の任期等)</strong>
                  <br/>第5条 運営委員の任期は特にこれを定めない。
                  <br/>2 新たな運営委員の選任は、運営委員会の決議による。 
				  <br/>3 運営委員の退任により委員数が3名未満となる場合、当該委員は、退任後でも後任者が就任するまではその職務を行わなければならない。
                </p>
                <p>
                  <strong>(運営委員会の開催及び決議)</strong>
                  <br/>第6条 運営委員会は、運営委員から請求があったときに開催する。開催を請求した運営委員は、各委員に対して5日前までに到達するように通知する。
                  <br/>2 運営委員会は、出席した運営委員の多数決をもって決議する。
                </p>
                <p>
                  <strong>(運営委員会の決議の省略)</strong>
                  <br/>第7条 運営委員が議案を提案した場合において、当該議案についてすべての運営委員の過半数が書面または電子メールをもって同意の意思表示をしたときは、当該議案を可決する旨の運営委員会の決議があったものとみなす。
                </p>
                <p>
                  <strong>(会計年度)</strong>
                  <br/>第8条 当基金の会計年度は毎年4月1日に始まり、翌年3月31日に終わる。
                </p>
                <p>
                  <strong>(解散)</strong>
                  <br/>第9条 当基金は運営委員会の決議を経て解散することができる。解散に伴い残余財産は原則として青空文庫に全額寄贈されるものとし、その詳細及び青空文庫が存在しない場合の処分は、運営委員会で協議の上、運営委員会の決議を経て決定する。
                </p>
                <p>
                  <strong>(規約の変更)</strong>
                  <br/>第10条 この規約は、運営委員会の決議を経て変更することができる。
                </p>
                <p>
                  <strong>附則</strong>
                  <br/>(1) 当基金の設立日は、平成25年9月15日とする。
                  <br/>(2) この規約の施行日は、平成25年9月15日とする。
                  <br/>(3) この基金の設立当初の運営委員は次のとおりとする。
                </p>
                <p>
                  <strong>改正附則</strong>
                  <br>本規約の改正日は、平成29年6月17日とする。
                </p>
                <p>　　　運営委員　富田晶子
                  <br/>　　　運営委員　萩野正昭
                  <br/>　　　運営委員　津田大介
                  <br/>　　　運営委員　福井健策
                  <br/>　　　運営委員　八巻美恵
                </p>
              </div>
            </div>
          </div>
