---
title: 2017年4月1日〜2018年8月31日 会計 | 本の未来基金
---

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="index.html">本の未来基金</a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li> <a href="index.html">ホーム</a> </li>
        <li> <a href="about.html">基金について</a> </li>
        <li> <a href="donate.html">寄付をするには？</a> </li>
        <li class="dropdown active"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">会計報告<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="account2013_4q.html">2013年9月15日〜2014年1月6日</a></li>
            <li><a href="account2014.html">2014年1月7日〜2015年5月1日</a></li>
            <li><a href="account2015_2q.html">2015年5月2日〜2015年9月30日</a></li>
			<li><a href="account2015_4q.html">2015年10月1日〜2016年3月31日</a></li>
			<li><a href="account2016.html">2016年4月1日〜2017年3月31日</a></li>
			<li><a href="account2017_201808.html">2017年4月1日〜2018年8月31日</a></li>
			</ul>
        </li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">活動報告<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="report.html">青空文庫の夢：著作権と文化の未来</a></li>
            <li><a href="singapore.html">TPPシンガポール交渉派遣</a></li>
            <li><a href="committee20151002.html">「本の未来基金」運営委員会のご報告と<br/>
              これからの活動について</a></li>
          </ul>
        </li>
        <li> <a href="contact.html">お問い合わせ</a> </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="bs-sidebar hidden-print">
        <ul class="nav bs-sidenav">
          <li> <a href="#top">2017年4月1日〜2018年8月31日 会計</a> </li>
          <li> <a href="#income">収入</a> </li>
          <li> <a href="#outcome">「本の未来基金」による事業およびその支出</a> </li>
          <li> <a href="#status">基金の青空文庫への送金状況について</a> </li>
          <li> <a href="#name">寄付をお寄せくださった皆さま</a> </li>
        </ul>
      </div>
    </div>
  <!--/span-->
  
  <div class="col-md-9">
    <h2 id="top">2017年4月1日〜2018年8月31日 会計</h2>
    <div class="page-header">
      <h3 id="income">収入</h3>
      <p>2017年4月1日から2018年8月31日 会計までに「本の未来基金」へお寄せいただいた協賛金・寄付金については下記の通りです。</p>
    </div>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th class="text-center">費目</th>
          <th class="text-center">金額（円）</th>
        </tr>
      </thead>
      <tr>
        <td>口座に寄せられた寄付金（個人）</td>
        <td class="text-right">163,897</td>
      </tr>
      <tr>
        <td>口座に寄せられた寄付金（<a href="http://bookwalker.jp/ex/sp/aozora-point/coin_donation.php" target="_blank">株式会社ブックウォーカー</a>）</td>
        <td class="text-right">358</td>
      </tr>
	  <tr>
        <td>口座に寄せられた寄付金（<a href="http://www.voyager.co.jp/" target="_blank">株式会社ボイジャー</a>）</td>
        <td class="text-right">180,000</td>
      </tr>
      <tr>
	    <td><a href="https://www.seseragi-foundation.jp/" target="_blank">一般財団法人財団せせらぎ</a>からの助成金</td>
        <td class="text-right">300,000</td>
      </tr>
      <tr>
        <td>利息</td>
        <td class="text-right">11</td>
      </tr>
      <tr>
        <th>総額</th>
        <td class="text-right">679,266</td>
      </tr>
    </table>
    <div class="page-header">
      <h3 id="outcome">「本の未来基金」による事業およびその支出</h3>
    </div>
	<ul>
	  <li>本の未来基金は、2017年5月に設立された<a href="http://digitalarchivejapan.org/" target="_blank">デジタルアーカイブ学会</a>の賛助会員となり年会費を収めています。</li>
	  <li>当基金の運営委員の東京運営会議出席、および2018年3月9〜10日に東京で開催された<a href="http://digitalarchivejapan.org/kenkyutaikai/2nd/2nd_program" target="_blank">デジタルアーカイブ学会第2回研究大会</a>で研究報告を行う際の交通費/宿泊費の補助を行いました。</li>
	  <li>2017年10月14日開催の<a href="https://www.aozora.gr.jp/houkokusyo/aozora20anniv.html" target="_blank">青空文庫20周年イベント</a>の諸経費は青空文庫から拠出しましたが、記念事業の企画運営は本の未来基金が担いました。</li>
	  </ul>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th class="text-center">費目</th>
          <th class="text-center">金額（円）</th>
        </tr>
      </thead>
      <tr>
        <td>本の未来基金ウェブサイト レンタルサーバー、ドメイン利用料（2017年）</td>
        <td class="text-right">5,142</td>
      </tr>
      <tr>
        <td>デジタルアーカイブ学会賛助会員年会費（2017年度、2018年度）</td>
        <td class="text-right">20,000</td>
      </tr>
      <tr>
        <td>運営会議参加交通費、学会発表交通費＆宿泊費</td>
        <td class="text-right">60,720</td>
      </tr>
      <tr>
        <td>振込手数料（5回分）</td>
        <td class="text-right">958</td>
      </tr>
      <tr>
        <th>合計</th>
        <td class="text-right">86,820</td>
      </tr>
    </table>
    <div class="page-header">
      <h3 id="status">基金の青空文庫への送金状況について</h3>
    </div>
	  <p>本の未来基金から青空文庫への送金は、<a href="http://honnomirai.net/committee20151002.html" target="_blank">別途記事でご報告させていただいております通り</a>一旦保留しております。</p>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th class="text-center">費目</th>
          <th class="text-center">金額（円）</th>
        </tr>
      </thead>
      <tr>
        <td><a href="http://honnomirai.net/account2015_4q.html" target="_blank">繰越金</a></td>
        <td class="text-right">3,739,985</td>
      </tr>
      <tr>
        <td>収入</td>
        <td class="text-right">679,266</td>
      </tr>
      <tr>
        <td>「本の未来基金」事業による支出</td>
        <td class="text-right text-warning">-<span class="text-right">86,820</span></td>
      </tr>
      <tr>
        <th>2018年8月31日時点での「本の未来基金」留保金</th>
        <td class="text-right">4,332,431</td>
      </tr>
    </table>
    <div class="page-header">
      <h3 id="name">寄付をお寄せくださった皆さま<small>（順不同・敬称略）</small></h3>
    </div>
    <p>ここではフォームにてお名前の公開にご同意いただけなかった方は公開しておりません。</p>
    <table class="table table-condensed">
		<tr>
			<td class="text-center">金子登志江</td>
			<td class="text-center">T</td>
			<td class="text-center">大矢 あゆみ</td>
		</tr>
		<tr>
			<td class="text-center">StudyCode × ssmjp</td>
			<td class="text-center">横田祐</td>
			<td class="text-center">伊藤優香</td>
		</tr>
    </table>
  </div>
</div>
