---
title: 2013年9月15日〜2014年1月6日 会計 | 本の未来基金
---

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">本の未来基金</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="index.html">ホーム</a>
          </li>
          <li>
            <a href="about.html">基金について</a>
          </li>
          <li>
            <a href="donate.html">寄付をするには？</a>
          </li>
          <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">会計報告<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="account2013_4q.html">2013年9月15日〜2014年1月6日</a></li>
              <li><a href="account2014.html">2014年1月7日〜2015年5月1日</a></li>
              <li><a href="account2015_2q.html">2015年5月2日〜2015年9月30日</a></li>
              <li><a href="account2015_4q.html">2015年10月1日〜2016年3月31日</a></li>
              <li><a href="account2016.html">2016年4月1日〜2017年3月31日</a></li>
			  <li><a href="account2017_201808.html">2017年4月1日〜2018年8月31日</a></li>

			</ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">活動報告<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="report.html">青空文庫の夢：著作権と文化の未来</a></li>
              <li><a href="singapore.html">TPPシンガポール交渉派遣</a></li>
              <li><a href="committee20151002.html">「本の未来基金」運営委員会のご報告と<br/>これからの活動について</a></li>
            </ul>
          </li>
          <li>
            <a href="contact.html">お問い合わせ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="bs-sidebar hidden-print">
          <ul class="nav bs-sidenav">
            <li>
              <a href="#top">2013年9月15日〜2014年1月6日 会計</a>
            </li>
            <li>
              <a href="#income">収入</a>
            </li>
            <li>
              <a href="#outcome">「本の未来基金」による事業およびその支出</a>
            </li>
            <li>
              <a href="#status">基金の青空文庫への送金状況について</a>
            </li>
            <li>
              <a href="#name">寄付をお寄せくださった皆さま</a>
            </li>
          </ul>
        </div>
      </div><!--/span-->

      <div class="col-md-9">
        <h2 id="top">2013年9月15日〜2014年1月6日 会計</h2>
        <div class="page-header">
          <h3 id="income">収入</h3>
          <p>2014年1月6日までに「本の未来基金」へお寄せいただいた協賛金・寄付金については下記の通りです。</p>
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th class="text-center">費目</th>
              <th class="text-center">金額（円）</th>
            </tr>
          </thead>
          <tr>
            <th colspan="2">ボイジャー社宛</th>
          </tr>
          <tr>
            <td>PayPal口座に寄せられた寄付金・協賛金</td>
            <td class="text-right">2,556,000</td>
          </tr>
          <tr>
            <td>口座に寄せられた協賛金</td>
            <td class="text-right">2,630,000</td>
          </tr>
          <tr>
            <th colspan="2">本の未来基金宛</th>
          </tr>
          <tr>
            <td>ジャパンネット銀行・ゆうちょ銀行口座に寄せられた寄付金・協賛金</td>
            <td class="text-right">3,577,106</td>
          </tr>
          <tr>
            <td>利息</td>
            <td class="text-right">170</td>
          </tr>
          <tr>
            <td>追悼イベント会費（173名）</td>
            <td class="text-right">865,000</td>
          </tr>
          <tr>
            <td>募金箱</td>
            <td class="text-right">37,489</td>
          </tr>
          <tr>
            <th>総額</th>
            <td class="text-right">9,665,765</td>
          </tr>
        </table>

        <div class="page-header">
         <h3 id="outcome">「本の未来基金」による事業およびその支出</span></h3>
       </div>
       <p>2013年度第4四半期では「本の未来基金」によって</p>
       <ul>
         <li>追悼イベント「青空文庫の夢：著作権と文化の未来」開催</li>
         <li><a href="singapore.html">TPPシンガポール交渉派遣事業</a></li>
       </ul>
       <p>が行われました。上記事業による支出は以下のとおりです。</p>
       <table class="table table-condensed">
        <thead>
          <tr>
            <th class="text-center">費目</th>
            <th class="text-center">金額（円）</th>
          </tr>
        </thead>
        <tr>
          <td>追悼イベント「青空文庫の夢：著作権と文化の未来」開催費</td>
          <td class="text-right">2,132,802</td>
        </tr>
        <tr>
          <td>PayPal手数料</td>
          <td class="text-right">130,158</td>
        </tr>
        <tr>
          <td>富田倫生さん写真配送費</td>
          <td class="text-right">8,900</td>
        </tr>
        <tr>
          <td>TPPシンガポール交渉派遣事業</td>
          <td class="text-right">138,769</td>
        </tr>
        <tr>
          <th>合計</th>
          <td class="text-right">2,410,629</td>
        </tr>
      </table>

      <div class="page-header">
        <h3 id="status">基金の青空文庫への送金状況について</span></h3>
      </div>
      <p>お寄せいただいた寄付金・協賛金のうち、ボイジャー社のPayPal口座・銀行口座に寄せられたものは、2013年12月20日に本の未来基金のゆうちょ銀行口座に全額送金されました。その後、2014年1月6日に本の未来基金口座より青空文庫へ500万円を送金しました。</p>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th class="text-center">費目</th>
            <th class="text-center">金額（円）</th>
          </tr>
        </thead>
        <tr>
          <td>寄付金・協賛金収入</td>
          <td class="text-right">8,782,484</td>
        </tr>
        <tr>
          <td>「本の未来基金」事業による支出</td>
          <td class="text-right text-warning">-2,410,629</td>
        </tr>
        <tr>
          <td>青空文庫への送金（2014年1月6日付け）</td>
          <td class="text-right text-warning">-5,000,000</td>
        </tr>
        <tr>
          <td>送金時振込手数料</td>
          <td class="text-right text-warning">-524</td>
        </tr>
        <tr>
          <th>「本の未来基金」留保金</th>
          <td class="text-right">2,254,612</td>
        </tr>
      </table>


      <div class="page-header">
        <h3 id="name">寄付をお寄せくださった皆さま<small>（順不同・敬称略）</small></h3>
      </div>
      <p>ここではフォームにてお名前の公開にご同意いただけなかった方は公開しておりません。</p>
	  <table class="table table-condensed">
        <tr>
          <td class="text-center">多村栄輝</td>
          <td class="text-center">宝樹真理</td>
          <td class="text-center">永江一石</td>
        </tr>
        <tr>
          <td class="text-center">aozora_keizoku_yume</td>
          <td class="text-center">高橋真也</td>
          <td class="text-center">小林茂</td>
        </tr>
        <tr>
          <td class="text-center">ぽたがお</td>
          <td class="text-center">高木利弘</td>
          <td class="text-center">小林孝</td>
        </tr>
        <tr>
          <td class="text-center">秋野奏多</td>
          <td class="text-center">越智淳夫</td>
          <td class="text-center">藤井正尚</td>
        </tr>
        <tr>
          <td class="text-center">夕街昇雪</td>
          <td class="text-center">小堀常雄</td>
          <td class="text-center">安東正玄</td>
        </tr>
        <tr>
          <td class="text-center">すべからく</td>
          <td class="text-center">寺井淳</td>
          <td class="text-center">佐々木一郎</td>
        </tr>
        <tr>
          <td class="text-center">ワタリガラスのエンドウ</td>
          <td class="text-center">高井哲彦</td>
          <td class="text-center">辻井成人</td>
        </tr>
        <tr>
          <td class="text-center">チャーシュー麺</td>
          <td class="text-center">村下昇平</td>
          <td class="text-center">市川香苗</td>
        </tr>
        <tr>
          <td class="text-center">mn</td>
          <td class="text-center">川端佳正</td>
          <td class="text-center">松村弘典</td>
        </tr>
        <tr>
          <td class="text-center">inamenai</td>
          <td class="text-center">TOMOKO DICKERSON</td>
          <td class="text-center">高瀬正徳</td>
        </tr>
        <tr>
          <td class="text-center">音声文庫</td>
          <td class="text-center">森元翼</td>
          <td class="text-center">佐久間憲一</td>
        </tr>
        <tr>
          <td class="text-center">yuriwo</td>
          <td class="text-center">長毅</td>
          <td class="text-center">高久雅生</td>
        </tr>
        <tr>
          <td class="text-center">佐藤聖俊</td>
          <td class="text-center">早川勇</td>
          <td class="text-center">村山博紀</td>
        </tr>
        <tr>
          <td class="text-center">マキオカ</td>
          <td class="text-center">新谷健一</td>
          <td class="text-center">青木智一</td>
        </tr>
        <tr>
          <td class="text-center">にがうり</td>
          <td class="text-center">井野口正之</td>
          <td class="text-center">菊川美知代</td>
        </tr>
        <tr>
          <td class="text-center">redyamori</td>
          <td class="text-center">岡本正貴</td>
          <td class="text-center">株式会社ひつじぐも</td>
        </tr>
        <tr>
          <td class="text-center">ロージナ茶会</td>
          <td class="text-center">北原昌和</td>
          <td class="text-center">常世田良</td>
        </tr>
        <tr>
          <td class="text-center">Juki</td>
          <td class="text-center">森智昭</td>
          <td class="text-center">株式会社偕成社</td>
        </tr>
        <tr>
          <td class="text-center">yomoyomo</td>
          <td class="text-center">Kida Kyoko</td>
          <td class="text-center">祝田久</td>
        </tr>
        <tr>
          <td class="text-center">佐野満里子</td>
          <td class="text-center">小塚央</td>
          <td class="text-center">狩野宏樹</td>
        </tr>
        <tr>
          <td class="text-center">堺屋七左衛門</td>
          <td class="text-center">植村八潮</td>
          <td class="text-center">沢辺均</td>
        </tr>
        <tr>
          <td class="text-center">萩野由之</td>
          <td class="text-center">福島幹雄</td>
          <td class="text-center">石井貴裕</td>
        </tr>
        <tr>
          <td class="text-center">福井健策</td>
          <td class="text-center">木田泰夫</td>
          <td class="text-center">村上研治</td>
        </tr>
        <tr>
          <td class="text-center">中井治郎</td>
          <td class="text-center">Hayashi Nobuo</td>
          <td class="text-center">須田正晴</td>
        </tr>
        <tr>
          <td class="text-center">深沢英次</td>
          <td class="text-center">茂清伊作</td>
          <td class="text-center">後藤昌之</td>
        </tr>
        <tr>
          <td class="text-center">村田純一</td>
          <td class="text-center">伊藤正広</td>
          <td class="text-center">宝田茂治</td>
        </tr>
        <tr>
          <td class="text-center">清水俊毅</td>
          <td class="text-center">牧瀬洋</td>
          <td class="text-center">荒木保之</td>
        </tr>
        <tr>
          <td class="text-center">萩野正昭</td>
          <td class="text-center">Katsutoshi Seki</td>
          <td class="text-center">亀井達也</td>
        </tr>
        <tr>
          <td class="text-center">清水勝</td>
          <td class="text-center">北克一</td>
          <td class="text-center">小川利康</td>
        </tr>
        <tr>
          <td class="text-center">北村今日子</td>
          <td class="text-center">丸山泰弘</td>
          <td class="text-center">株式会社上ノ空 横里隆</td>
        </tr>
        <tr>
          <td class="text-center">永岡秀樹</td>
          <td class="text-center">斎藤勝己</td>
          <td class="text-center">上村正陽</td>
        </tr>
        <tr>
          <td class="text-center">矢田泰規</td>
          <td class="text-center">Seijiro Sudo</td>
          <td class="text-center">杉本穂高</td>
        </tr>
        <tr>
          <td class="text-center">石井伸介</td>
          <td class="text-center">小山伸一郎</td>
          <td class="text-center">市川せうぞー</td>
        </tr>
        <tr>
          <td class="text-center">赤松健</td>
          <td class="text-center">田嶋淳</td>
          <td class="text-center">高山智子</td>
        </tr>
        <tr>
          <td class="text-center">松井貴子</td>
          <td class="text-center">大野晋</td>
          <td class="text-center">時実象一</td>
        </tr>
        <tr>
          <td class="text-center">浦岡賢太朗</td>
          <td class="text-center">鈴木一誌</td>
          <td class="text-center">緑慎也</td>
        </tr>
        <tr>
          <td class="text-center">齋藤康也</td>
          <td class="text-center">板谷成雄</td>
          <td class="text-center">古川享</td>
        </tr>
        <tr>
          <td class="text-center">KINOSHITA YUUICHI</td>
          <td class="text-center">内田礼</td>
          <td class="text-center">友田雄介</td>
        </tr>
        <tr>
          <td class="text-center">佐藤宏</td>
          <td class="text-center">足立亨</td>
          <td class="text-center">小池利明</td>
        </tr>
        <tr>
          <td class="text-center">笹渕正直</td>
          <td class="text-center">熊谷まき</td>
          <td class="text-center">原田正平</td>
        </tr>
        <tr>
          <td class="text-center">近藤直樹</td>
          <td class="text-center">服部丈</td>
          <td class="text-center">飛谷澄江</td>
        </tr>
        <tr>
          <td class="text-center">芦田達也</td>
          <td class="text-center">淀谷圭子</td>
          <td class="text-center">大賀康智</td>
        </tr>
        <tr>
          <td class="text-center">ふくだたくま</td>
          <td class="text-center">小林宏一</td>
          <td class="text-center">鹿嶋由美子</td>
        </tr>
        <tr>
          <td class="text-center">門田裕志</td>
          <td class="text-center">笹平健一</td>
          <td class="text-center">トレンドイースト有限会社</td>
        </tr>
        <tr>
          <td class="text-center">wakufactory</td>
          <td class="text-center">錦戸陽子</td>
          <td class="text-center">山田佳江</td>
        </tr>
        <tr>
          <td class="text-center">山田奨治</td>
          <td class="text-center">林智彦</td>
          <td class="text-center">株式会社ACCESS</td>
        </tr>
        <tr>
          <td class="text-center">大石博昭</td>
          <td class="text-center">太田義啓</td>
          <td class="text-center">富田晶子</td>
        </tr>
        <tr>
          <td class="text-center">長尾真</td>
          <td class="text-center">津田大介</td>
          <td class="text-center">SBクリエイティブ株式会社</td>
        </tr>
        <tr>
          <td class="text-center">km</td>
          <td class="text-center">門倉百合子</td>
          <td class="text-center">ヒレちん</td>
        </tr>
        <tr>
          <td class="text-center">林幸雄</td>
          <td class="text-center">鈴木隆</td>
          <td class="text-center">カワニシアキヒロ</td>
        </tr>
        <tr>
          <td class="text-center">ホソカワケイ</td>
          <td class="text-center">才谷梅太郎</td>
          <td class="text-center">（株）インプレスR&amp;D</td>
        </tr>
        <tr>
          <td class="text-center">岩澤秀紀</td>
          <td class="text-center">株式会社イーブックイニシアティブジャパン</td>
          <td class="text-center">Fei</td>
        </tr>
        <tr>
          <td class="text-center">シバタマサアキ</td>
          <td class="text-center">木村正樹</td>
          <td class="text-center">オオタケカズオ</td>
        </tr>
      </table>
    </div>
  </div>
