---
title: アーカイブサミット2016 特別企画シンポジウム 共催のお知らせ | 本の未来基金
---

<div class="container">
<div class="row">
<!--/span-->
<div class="col-md-12">
<div class="page-header">
  <h1>アーカイブサミット2016 特別企画シンポジウム 共催のお知らせ</h1>
</div>

<p>2016年6月3日（金）に開催されるアーカイブサミット2016「アーカイブ資本論：アーカイブによる価値創造とビジネス創生」に、本の未来基金は共催として参加します。</p>
<p>2015年に続いて第2回目の開催となるアーカイブサミットでは、ナショナルデジタルアーカイブのあり方や、パブリックドメインが生み出す社会的・経済的価値などをテーマに、各界第一線の専門家の徹底的な討論が実施されます。</p>
<p>本の未来基金はシンポジウム「著作権消滅。―社会資本としてのパブリックドメイン―」（14:30〜16:00）に共催、参加します。本シンポジウムへの参加申し込みはすでに満席となっておりますが、ニコニコ生放送でのインターネット配信も実施されるようです。中継URLは決定次第、アーカイブサミットのウェブサイトで告知されます。ぜひそちらでお楽しみいただければ幸いです。</p>
<h2>特別企画シンポジウム「著作権消滅。―社会資本としてのパブリックドメイン―」</h2>
<p>2016年6月3日（金）14:30〜16:00<br>
  千代田区立日比谷図書文化館 スタジオプラスにて</p>

<h3>概要</h3>
<p>2016年、日本では谷崎潤一郎・江戸川乱歩ら大物作家の著作権保護が終了し、パブリックドメイン入りした。今後、新出版物・デジタル復刻・これらの原作に基づく二次的創作など新たな文化の広がりが予想される。他方、TPP妥結を受け、日本では次期国会以降に著作権法が改正され、著作権が死後70年、実演が実演後70年へと期間が延長されることも予定されている。</p>
<p>保護延長は、権利者不明の「孤児著作物」を増加させ大量デジタル化社会への対応を困難にしたとして、欧米でも矢継ぎ早な対策案が打ち出され、日本でもアーカイブ振興のための著作権リフォームが求められている。他方、去る2月5日には日本で既にパブリックドメインであるブレヒト／クルト・ワイル作「三文オペラ」において、宮崎県立劇場制作で各地巡演を控えた舞台が「著作権管理会社の通告」との理由で中止を発表されるなど（毎日新聞2月7日）、パブリックドメインの意味と価値はなお社会に正しく浸透しているとは言いがたい。</p>
<p>アーカイブの振興と普及にとって表裏ともいえる、パブリックドメインの社会的・経済的・文化的な意義と課題を、各界の第一人者を招いて改めて論ずる。</p>


<h4>登壇者</h4>
<p>大久保ゆう［青空文庫］<br>野口祐子［弁護士］<br>平田オリザ［劇作家・演出家/東京藝術大学特任教授］</p>

<h4>司会</h4>
<p>吉見俊哉 [東京大学教授]</p>
<p>※登壇者は予告なく追加・変更される場合がございます。</p>

</div>
</div>
</div>
