---
title: 著作権保護期間延長に関する「本の未来基金」の考え | 本の未来基金
---

<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="index.html">本の未来基金</a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li> <a href="index.html">ホーム</a> </li>
        <li> <a href="about.html">基金について</a> </li>
        <li> <a href="donate.html">寄付をするには？</a> </li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">会計報告<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="account2013_4q.html">2013年9月15日〜2014年1月6日</a></li>
            <li><a href="account2014.html">2014年1月7日〜2015年5月1日</a></li>
            <li><a href="account2015_2q.html">2015年5月2日〜2015年9月30日</a></li>
			<li><a href="account2015_4q.html">2015年10月1日〜2016年3月31日</a></li>
			<li><a href="account2016.html">2016年4月1日〜2017年3月31日</a></li>
			<li><a href="account2017_201808.html">2017年4月1日〜2018年8月31日</a></li>
           </ul>
        </li>
        <li class="dropdown active"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">活動報告<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="report.html">青空文庫の夢：著作権と文化の未来</a></li>
            <li><a href="singapore.html">TPPシンガポール交渉派遣</a></li>
            <li><a href="committee20151002.html">「本の未来基金」運営委員会のご報告と<br/>これからの活動について</a></li>
            <li><a href="committee20181112.html">著作権保護期間延長に関する「本の未来基金」の考え </a></li>
          </ul>
        </li>
        <li> <a href="contact.html">お問い合わせ</a> </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="page-header">
<h1>著作権保護期間延長に関する「本の未来基金」の考え
<br/><small>2018年11月12日</small></h1>
</div>
<p>政府は10月30日、TPP11が6ヶ国目の批准を得たことで、12月30日に発効することが確定したと発表しました。これによって、既に前倒しで成立していた2016年の改正著作権法も同時に施行されることになり、我が国が1970年以来守って来た著作権の保護期間「死後50年」の原則は、「死後70年」原則へと延長されることになりました。</p>
<p>私たち「本の未来基金」は、故富田倫生の遺志を継いで青空文庫を支援するために設立されました。その立場から、青空文庫をはじめとする様々な草の根の文化活動に対する、この保護期間延長の悪影響を懸念します。また、国内での議論の蓄積を無視して保護期間がうやむやに延ばされてしまった経緯に抗議します。</p>
<p>日本では、2006年から2010年にかけて国内で慎重に議論を尽くし、保護期間の延長は見送られて来ました。2016年、政府はTPPでの米国の要求を受け入れる形で、いわば「TPPを成立させるためにはやむを得ない」という立場で、TPP発効と同時に保護期間を延長する内容の改正著作権法を前倒し成立させました。しかしその後、米国が離脱したTPP11では、各国の要求により期間延長は凍結されたのでした。</p>
<p>にもかかわらず、政府は全く理由を告げることもなく、今年6月にはTPP11でも保護期間延長が発効する内容に法改正を行い、延長を確定させてしまいました。</p>
<p>私たちはこの経緯を、「要するに政府は表向きの説明とは裏腹に保護期間延長の懸念など共有しておらず、TPPを奇貨として（何らかの事情で行いたかった）延長を断行した」と受け取るほか、理解の術を持ちません。そして、こうした考え方と行動を心から残念に思います。</p>
<p>しかし私たちは、政府はじめ期間延長を実現してしまった人々に対し、その責任を追及するより、私たちと共に未来への責任を果たして頂きたいと願います。私たちは先人たちの生きた証である多くの作品が死蔵や散逸を免れ、後世と世界の人々に届けられるよう、一層のデジタルアーカイブ振興策、不明権利者対策、そして作品の流通促進策を進めることを呼びかけます。また、私たち自身も、そうした活動により一層コミットして行きたいと考えます。</p>
</div>
</div>
</div>
