---
title: 「本の未来基金」運営委員会のご報告とこれからの活動について | 本の未来基金
---

<div class="container">
<div class="row">
<div class="col-md-3">
  <div class="bs-sidebar hidden-print" role="complementary">
    <ul class="nav bs-sidenav">
      <li><a href="#condition">寄付の現状について</a></li>
      <li><a href="#account">会計報告</a></li>
      <li><a href="#contribution">寄付金の使途</a></li>
      <li><a href="#ideathon">アイディアソンの実施</a></li>
      <li><a href="#plan">今後の活動について</a></li>
    </ul>
  </div>
</div>
<!--/span-->
<div class="col-md-9">
<div class="page-header">
  <h1>「本の未来基金」運営委員会のご報告とこれからの活動について</h1>
  <p class="text-right">富田晶子（記）</p>
</div>

<p>はやいもので富田倫生が亡くなってから2年がたち、今年の8月に三回忌を迎えました。そこで「本の未来基金」の委員の方々に一度夫の供養に来てもらいたいと声をかけました。生前夫が全精力をそそいでいた青空文庫、電子出版の世界で親交を深めたボイジャー、著作権保護期間延長反対運動で共闘したみなさんです。</p>
<p>あわせて運営委員会の場を持ちました。以下、概要のご報告をいたします。</p>

<ul>
<li>日時：2015年10月2日 午後</li>
<li>場所：富田倫生の家</li>
<li>出席：八巻美恵、萩野正昭、福井健策、津田大介、富田晶子（運営委員）香月啓佑（事務局）
</ul>

<h2 id="condition">寄付の現状について</h2>
<p>これまでのところ、基金から青空文庫に530万円の送金をしていますが、青空文庫側でまだその寄付金の十分な活用には時間を要するため、後述する通り協議を続けつつ、基金からの更なる送金はいったん保留しています。寄付件数は当初より減少したとはいえ、毎月着実によせられています。（まもなく公開される会計報告を参照して下さい）</p>
<p>個人寄付者に加え、企業からの定期的な寄付も行なわれています。この点についてボイジャーから、基金に毎月3万円の寄付を始めた経緯の説明がなされました。また、ブックウォーカーからも、四半期ごとに寄付が行なわれています。</p>
<p>青空文庫が将来的に活動を広げていくための基盤作りに向け、定期的な寄付の流れを確保することが重要であり、今後は多様な企業寄付の可能性をさぐる必要性が指摘されました。</p>
<p>また、寄付者の氏名公表の方針についての確認を行ないました。当初は公開を基本としていましたが、基金創設に先立つシンポジウム開催に向けた寄付を引き継いだことなどもあり、公開原則の整合性を欠く状況になってしまいました。現在は、寄付の際の氏名公開か非公開の選択ができますが、十分に周知されているとは言い難く、氏名公開を期待していた寄付者の期待にそえていない場合があるのではないかと懸念しています。</p>
<p>そこで、今後は実名でなくペンネームも受け付け、寄付をして下さった方々をできるだけ多く公表するかたちで感謝の意を表したいと思います。（後日ホームページの寄付のページでお知らせします）</p>
<h2 id="account">会計報告</h2>
<p>規約では基金の会計年度が4月1日から翌年3月31日となっています。前回の会計報告は昨年度（2014年4月1日〜2015年3月31日）を含む2015年5月1日までを公開しています。これまで会計報告は随時行なってきたのですが、これからは年に2回行う提案が合意されました。ちょうど9月末が上半期の締めとなります。</p>
<h2 id="contribution">寄付金の使途</h2>
<p>会計報告とあわせ、とくに重要な議題となったのが、現在基金で留保している寄付金およそ300万円の取り扱いです。青空文庫と基金の関係に関する現行規約では、「寄せられた寄付は、基金の運営に必要な経費以外は全て青空文庫の会計に送られ」、基金は「あくまでも寄付の呼びかけと取りまとめ、寄付金の用途の最低限の確認のみ行ないます」と記載されているからです。</p>
<p>以上を踏まえつつも、日々の作品公開作業に相当の労力を割いている青空文庫の実情を勘案すると、寄付金を送金するだけではほんとうに必要な支援にはならないのではないかという懸念が表明されました。これは基金の今後の活動方針にも関わる重要な課題であり、今後さらに詰めていく必要が確認されました。</p>
<p>一方青空文庫にとって現在早急に対応が必要な課題としてサーバーの移転統合があります。そこで、青空文庫からの委託要請をうける形で、基金が資金負担を含め担当する案が議論されました。こうした案の背景には、今年の春に試みたイベントの実施が関係しています。</p>
<h2 id="ideathon">アイディアソンの実施</h2>
<p>小さな電子図書館として出発した青空文庫ですが、予想以上の急成長に対してその都度サーバーを増やして繋ぎながらシステム対応をして来た経緯があります。このサーバー統合はかねてからの課題でしたが、膨大な作業がともなうためリソース不足で後回しになっていました。</p>
<p>そこで将来の発展に向けた運用基盤の見直しと強化をめざして、今年の5月、<a href="http://keisukekatsuki.hatenablog.com/entry/2015/06/02/203152" target="_blank">基金の事務局主催で「アイディアソン」と名づけたイベントが開催されました</a>。青空文庫のサーバー移転、強化の為に、さまざまな知見をもつボランディアの人達にアイディアを出してもらい、それらのアイディアを集約して実行しようというプロジェクトです。多くの参加者を得てありがたさをかみしめるイベントとなりました。</p>
<p>事務局からアイディアソン開催後の進捗状況が報告され、具体的なプロセスや予算についても議論が行なわれました。この作業については近い将来さらに具体的な報告を行なう予定です。</p>
<h2 id="plan">今後の活動について</h2>
<p>基金主体の活動としては、来年の夏にイベントを開催をすることが合意され、今後その内容を検討して発表していきます。運営委員会開催後、著作権保護期間延長を盛り込んだTPPが「大筋合意」されたため、イベントの開催は一層意味のある重要な活動になるでしょう。</p>
<p>また、長期的な視野のテーマとして、青空文庫の事務所的な常設スペースを持つというアイディアなども出されました。もちろんまだすべて白紙状態ですが、今後青空文庫に提案し、ともにその妥当性と可能性を検討してみる価値があるということで、継続協議事項となりました。</p>
<p>その他、青空文庫と基金との連携を深めるためにも、顔合わせの機会を設ける方向で調整を行なうことが決まりました。基金のメンバーが青空文庫の世話人と直接会って実情をよりよく理解することは、現実に即した支援を行なう上でも重要なことです。</p>
<p>また、将来基盤強化の一環として、青空文庫に法人化の検討を提案する議論が行なわれました。かつて青空文庫でも法人化の検討をしたことがありますが、当時はメリットとデメリットを考慮した結果法人化を見送りました。しかしその後青空文庫を取り巻く内外の環境は大きく変わりました。将来に向けた安定運営や継続性を確保する一つの方策として検討に値するという提言です。</p>
<p>以上が主な議題と話し合いの内容です。これまで以上に具体的な活動の方向性を話し合うことができたと思います。次回は年明けに開催する予定です。</p>
<hr/>
<p>ここからは富田晶子個人の思いです。</p>
<p>TPPの「大筋合意」により、著作権保護期間の延長が国の既定方針となってしまいましたが、最終的に改正法が適用されるまでは、まだ数多くのプロセスを経なければなりません。最後の姿がどうなるかに、私たちは影響力を行使することができると考えます。これからどこまで粘って知的財産の公正利用を認めさせることができるか。保護期間の延長による損失は大きいけれど、これを機会に英知を集め、活動の輪を広げて深めることができれば、今まで視野になかった新しい可能性が見えてくるのではないでしょうか。</p>
<p>著作権保護期間延長の可能性が公になった2004年以来、夫は一貫して反対の声を上げ続け、それがどれだけ文化の多様性と知の巡りによる創造性を損なうものであるかを、文字通り体を張って訴えてきました。亡くなるまで、揺るぎの無い信念で、時には病床で声明文を作成していました。2006年夏の危篤状態を乗り越え、2008年に海外での移植で新しい命をいただいて生き延びた5年間、あきれるほどに立派に戦ってきました。</p>
<p><img src="images/tomita_michio.jpg" class="img-responsive center-block" alt="富田倫生" style="margin: 0 auto"/></p>
<p>「本の未来基金」の運営委員のみなさんは、こうして筋をとおして亡くなった富田倫生の信念と行動に共感し敬意を表して基金を立ち上げてくれました。</p>
<p>家族としては、青空文庫の運営も著作権保護期間反対運動も、夫の病気の進行と重なります。一時は辛い思い出ばかりが押し寄せていたのですが、3回忌をきっかけに気持ちを変えて前向きに対応する決意をしました。そうすることで夫を身近に感じられ、喜んでくれる顔がみえるからです。</p>
<p>夫が抱いた「永久機関の夢を見る青空文庫」の夢の実現に向け、あらゆる可能性を捉えて話し合い、行動を起こし、成果を分かち合っていけるよう、これからもみなさまのご支援をお願いいたします。</p>
</div>
</div>
</div>
