---
title: お問い合わせ | 本の未来基金
---

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">本の未来基金</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="index.html">ホーム</a>
        </li>
        <li>
          <a href="about.html">基金について</a>
        </li>
        <li>
          <a href="donate.html">寄付をするには？</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">会計報告<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="account2013_4q.html">2013年9月15日〜2014年1月6日</a></li>
            <li><a href="account2014.html">2014年1月7日〜2015年5月1日</a></li>
            <li><a href="account2015_2q.html">2015年5月2日〜2015年9月30日</a></li>
			<li><a href="account2015_4q.html">2015年10月1日〜2016年3月31日</a></li>
			<li><a href="account2016.html">2016年4月1日〜2017年3月31日</a></li>
			<li><a href="account2017_201808.html">2017年4月1日〜2018年8月31日</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">活動報告<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="report.html">青空文庫の夢：著作権と文化の未来</a></li>
            <li><a href="singapore.html">TPPシンガポール交渉派遣</a></li>
            <li><a href="committee20151002.html">「本の未来基金」運営委員会のご報告と<br/>これからの活動について</a></li>
          </ul>
        </li>
        <li class="active">
          <a href="contact.html">お問い合わせ</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <iframe src="https://docs.google.com/forms/d/1PvVww79bCml6LjleOWO28fgtyVSO3gPd2j80QdTMXgE/viewform?embedded=true" width="750" height="750" frameborder="0" marginheight="0" marginwidth="0">読み込み中...</iframe>
</div>
