---
title: 寄付をするには？ | 本の未来基金
---

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="bs-sidebar hidden-print">
        <ul class="nav bs-sidenav">
          <li> <a href="#top">寄付をするには？</a> </li>
          <li> <a href="#what">寄付の受け入れ方法</a> </li>
          <li> <a href="#deduction">寄付金の所得控除について</a> </li>
        </ul>
      </div>
    </div>
    <!--/span-->

    <div class="col-md-9">
      <h2 id="top">寄付をするには？</h2>
      <div class="page-header">
        <h3 id="what">寄付の受け入れ方法 <small>「本の未来基金」に寄付をするには、以下の2つの方法があります。</small></h3>
      </div>
      <div class="row">
        <div class="col-lg-6"><img alt="..." src="./images/yucho.png"></div>
        <div class="col-lg-6"><img alt="..." src="./images/jnb.png"></div>
      </div>
      <div class="alert alert-danger">
        <h4>寄付をいただく前にかならずお読みください</h4>
        <p>お振込をいただきましたら<strong>大変お手数ですが<a href=
                                                              "contact.html">フォーム</a>より振込確認のご連絡をお送りください。</strong>寄付を頂いた方のお名前・企業名は本ウェブサイトで公開させていただく予定ですが、公表を希望されない方やウェブサイトでの公表希望名とお振込時の名義が異なる方はその旨<a href="contact.html">フォーム</a>にご入力ください。<strong>ご連絡がなかった場合は、寄付をいただいた際に銀行で入力いただいた名義を公開させていただきます。</strong>また領収書が必要な方もその旨<a href="contact.html">フォーム</a>にご記入ください。また恐れ入りますがお振込にかかります手数料はご負担願います。</p>
      </div>
      <h3 id="yucho"><span class=
                           "label label-default">ゆうちょ銀行口座にご送金いただく場合</span></h3>
      <p><strong>口座番号：</strong>〇一九店 当座 0418812</p>
      <p><strong>郵便振替：</strong>00120-5-418812</p>
      <p><strong>口座名義：</strong>本の未来基金</p>
      <h3 id="jnb"><span class=
                         "label label-default">ジャパンネット銀行口座にご送金いただく場合</span></h3>
      <p><strong>口座番号：</strong>すずめ支店 普通 3204801</p>
      <p><strong>口座名義：</strong>本の未来基金富田晶子</p>
      <div class="page-header">
        <h3 id="deduction">寄付金の所得控除につきまして</h3>
      </div>
      <p> 「本の未来基金」にお寄せいただいた寄付は、特定寄付金にはあたりません。つきましては「本の未来基金」に寄付を頂いたことによる所得控除を受けることはできません。あらかじめご了承ください。</p>
    </div>
  </div>
</div>
