---
title: 青空文庫の夢：著作権と文化の未来 | 本の未来基金
---

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron report">
  <div class="container">
    <h1>青空文庫の夢<br/>著作権と文化の未来</h1>
    <p>2013.9.25 at 東京會舘 ローズルーム</p>
  </div>
</div>

<div class="container">
  <p>「青空文庫」の推進役として、ボランティアの方々の力で日本を代表する電子図書館を育て上げた富田倫生さんが、去る2013年8月16日、肝臓がんにて逝去されました。文化共有の青空の価値を誰にでも見える形で実践し、文化・研究・福祉・ビジネスの面で計り知れない影響を与え、それらを脅かす著作権保護期間の延長論に警鐘を鳴らし続けた彼の足跡を振り返り、遺志を継ぐべく、追悼イベント「青空文庫の夢：著作権と文化の未来」を開催しました。 </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <img alt="ALT NAME" src="./images/nagao.png">

        <div class="caption">
          <h3>電子図書館の挑戦</h3>
          <p>長尾真(前 国立国会図書館長・元 京都大学総長)</p>
        </div>
        <p style="text-align: center"><a class="btn btn-primary" href=
                                         "http://www.nicovideo.jp/watch/1380693282?from=540" target="_blank">動画で見る</a></p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <img alt="ALT NAME" src="./images/hagino.png">

        <div class="caption">
          <h3>青空文庫の歩みと成果</h3>
          <p>萩野正昭(ボイジャー代表取締役)</p>
        </div>
        <p style="text-align: center"><a class="btn btn-primary" href=
                                         "http://www.nicovideo.jp/watch/1380693282?from=1640" target="_blank">動画で見る</a></p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img alt="ALT NAME" src="./images/fukui.png">

        <div class="caption">
          <h3>保護期間延長問題とは何か</h3>
          <p>福井健策(弁護士)</p>
        </div>
        <p style="text-align: center"><a class="btn btn-primary" href=
                                         "http://www.nicovideo.jp/watch/1380693282?from=2930" target="_blank">動画で見る</a></p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <img alt="ALT NAME" src="./images/panel.png">
        <div class="caption">
          <h3>ディスカッション</h3>
          <p>大久保ゆう、長尾真、津田大介、萩野正昭、平田オリザ、福井健策</p>
        </div>
        <p style="text-align: center"><a class="btn btn-primary" href=
                                         "http://www.nicovideo.jp/watch/1380693282?from=4720" target="_blank">動画で見る</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-header">
    <h2>メディアによるイベントレポート</h2>
  </div>
  <p>「青空文庫」富田倫生さんの追悼イベントに平田オリザさん、長尾真前国立国会図書館館長らが参加、著作権保護期間問題を議論（The Huffington Post）<br/> <a href="http://www.huffingtonpost.jp/2013/09/25/aozora_n_3989415.html" target="_blank">http://www.huffingtonpost.jp/2013/09/25/aozora_n_3989415.html</a>  </p>
  <p>富田倫生氏が抱いた「藍より青い」青空文庫の夢（INTERNET Watch）<br/><a href="http://internet.watch.impress.co.jp/docs/event/20130926_616972.html" target="_blank">http://internet.watch.impress.co.jp/docs/event/20130926_616972.html</a>  </p>
  <p>新時代の著作権は報酬請求権に——ベルヌ条約をひっくり返すという遺志（INTERNET Watch）<br/><a href="http://internet.watch.impress.co.jp/docs/event/20130927_617119.html" target="_blank">http://internet.watch.impress.co.jp/docs/event/20130927_617119.html</a>  </p>
  <p>「無料で読める本が私たちに問いかけること」——追悼 青空文庫呼びかけ人 富田倫生さん（ダ・ヴィンチ電子ナビ）<br/><a href="http://ddnavi.com/news/164222/" target="_blank">http://ddnavi.com/news/164222/</a>  </p>
  <p>「青空文庫にも著作者へのリスペクトがある」富田倫生さん追悼シンポで著作権を議論（弁護士ドットコム）<br/><a href="http://www.bengo4.com/topics/805/" target="_blank">http://www.bengo4.com/topics/805/</a>  </p>
  <p>＜青空文庫＞本の未来はテキストが開く−−東京で富田倫生さん追悼イベント（毎日新聞ユニバーサロン）<br/><a href="http://mainichi.jp/universalon/news/20130927mog00m040003000c.html" target="_blank">http://mainichi.jp/universalon/news/20130927mog00m040003000c.html</a></p>
</div>
<div class="container">
  <h2>協賛企業・団体<small>　50音順</small></h2>
  <table class="table">
    <tr>
      <td class="text-center">IDPF（International Digital Publishing Forum）</td>
      <td class="text-center">アカデミックリソースガイド</td>
      <td class="text-center">Internet Archive</td>
    </tr>
    <tr>
      <td class="text-center">Internet Watch</td>
      <td class="text-center">株式会社インフォシティ</td>
      <td class="text-center">オープン・ナレッジ・ファウンデーション・ジャパン</td>
    </tr>
    <tr>
      <td class="text-center">株式会社紀伊國屋書店</td>
      <td class="text-center">株式会社 GyaO（Yahoo! ブックストア）</td>
      <td class="text-center">グーグル株式会社</td>
    </tr>
    <tr>
      <td class="text-center">KDDI 株式会社</td>
      <td class="text-center">国際大学グローバル・コミュニケーション・センター（GLOCOM）</td>
      <td class="text-center">JBOYSOFT</td>
    </tr>
    <tr>
      <td class="text-center">出版 UD 研究会</td>
      <td class="text-center">全国音訳ボランティアネットワーク</td>
      <td class="text-center">ソニーマーケティング株式会社</td>
    </tr>
    <tr>
      <td class="text-center">特定非営利活動法人大学図書館支援機構</td>
      <td class="text-center">大学図書館問題研究会事務局</td>
      <td class="text-center">一般社団法人デジタルメディア協会（AMD）</td>
    </tr>
    <tr>
      <td class="text-center">有限会社読書工房</td>
      <td class="text-center">図書館友の会全国連絡会</td>
      <td class="text-center">一般社団法人日本劇作家協会</td>
    </tr>
    <tr>
      <td class="text-center">日本コンパクトディスク・ビデオレンタル商業組合（CDV-JAPAN）</td>
      <td class="text-center">日本デジタルゲーム学会（DiGRA JAPAN）</td>
      <td class="text-center">社会福祉法人日本点字図書館</td>
    </tr>
    <tr>
      <td class="text-center">日本図書館研究会</td>
      <td class="text-center">一般社団法人日本図書館事業協会</td>
      <td class="text-center">特定非営利活動法人バリアフリー資料リソースセンター</td>
    </tr>
    <tr>
      <td class="text-center">版元ドットコム</td>
      <td class="text-center">ビジネス支援図書館推進協議会</td>
      <td class="text-center">ひつじ書房</td>
    </tr>
    <tr>
      <td class="text-center">株式会社ブクログ</td>
      <td class="text-center">株式会社ブックウォーカー</td>
      <td class="text-center">株式会社ブックスキャン</td>
    </tr>
    <tr>
      <td class="text-center">株式会社 BookLive</td>
      <td class="text-center">株式会社ブックリスタ</td>
      <td class="text-center">ポット出版</td>
    </tr>
    <tr>
      <td class="text-center">一般社団法人融合研究所</td>
      <td class="text-center">株式会社ライブラリー・アド・サービス</td>
      <td class="text-center">楽天株式会社</td>
    </tr>
    <tr>
      <td class="text-center">リード エグジビション ジャパン株式会社</td>
      <td class="text-center">立命館大学ゲーム研究センター（RCGS）</td>
      <td class="text-center">　</td>
    </tr>
  </table>
</div>
