---
title: TPPシンガポール交渉派遣 | 本の未来基金
---

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="bs-sidebar hidden-print" role="complementary">
        <ul class="nav bs-sidenav">
          <li><a href="#about">派遣概要</a></li>
          <li><a href="#stake">日本政府開催のステークホルダー会議について</a></li>
          <li><a href="#press">プレスカンファレンスについて</a></li>
          <li><a href="#domestic">事後に開催された日本政府開催のステークホルダー会議について</a></li>
          <li><a href="#communication">人的交流について</a></li>
          <li><a href="#summary">まとめ</a></li>
          <li><a href="#thanks">謝辞</a></li>
        </ul>
      </div>
    </div>
    <!--/span-->
    <div class="col-md-9">

      <div class="page-header">
        <h1>TPPシンガポール交渉派遣事業<small>（2013年12月）</small></h1>
      </div>

      <h2 id="about">派遣概要</h2>

      <h3>本派遣の目的</h3>
      <ul>
        <li>TPPシンガポール交渉の模様を取材し、著作権保護期間延長問題を含むTPP知的財産条項に関する情報を収集すること</li>
        <li>日本政府主催のステークホルダー会議に参加し、意見を述べること</li>
        <li>TPP交渉を取材中のメディアに対しプレスカンファレンスを開催し、TPPによる保護期間延長問題の問題点を発信し関心を高めること</li>
        <li>国内外のTPPに関する活動を行っている組織や人物との人脈を深めること</li>
      </ul>


      <h3>派遣者</h3>
      <p><strong>香月啓佑</strong>（一般社団法人インターネットユーザー協会（MIAU）事務局長、本の未来基金事務局、thinkTPPIP）</p>

      <p>今回の派遣に係る費用は「本の未来基金」の資金提供による。今回の派遣には福井健策氏（弁護士・ニューヨーク州弁護士、本の未来基金理事、thinkC世話人）の同行を得ることができた。ただし福井氏は本人希望により自費での参加。</p>

      <h3>派遣日程・派遣先</h3>
      <dl>
        <dt>期間</dt>
        <dd>2013年12月7日（土）〜12月9日（月）</dd>
        <dt>派遣先</dt>
        <dd>Grand Copthorne Waterfront Hotel（TPPシンガポール交渉会場）</dd>
        <dd>the Shangri-La Singapore Hotel（日本政府ステークホルダー会議会場）</dd>
      </dl>

      <hr/>

      <h2>成果概要</h2>

      <h3 id="stake">日本政府開催のステークホルダー会議について</h3>
      <p>TPP交渉会合は非公開で行われるが、各会合では各国の利害関係者に向けた交渉の概要の説明や利害関係者と交渉官の間のコミュニケーションを取るためのステークホルダー会議が開催される。日本がTPP交渉に参加しての大規模な会合は今回のシンガポール交渉が2回目であるが、本交渉を主催するシンガポール政府により、本交渉においてはステークホルダー会議を実施しない旨の通達があった。しかしシンガポール交渉直前（12月2日）に開催された日本政府主催の国内関係団体向け説明会にて、渋谷和久内閣官房TPP政府対策本部内閣審議官より、日本政府独自のステークホルダー会合を開催する可能性がある旨通知があり、出国前に出席者登録を行った。</p>

      <p>&nbsp;</p>

      <h4><u>ステークホルダー会議開催概要</u></h4>

      <dl>
        <dt>日時</dt>
        <dd>2013年12月8日（日）10:30〜11:30（現地時間）</dd>
        <dt>会場</dt>
        <dd>the Shangri-La Singapore Hotel HIBISCAS Conference room</dd>
        <dt>政府出席者</dt>
        <dd>3名（うち説明者は渋谷和久内閣官房TPP政府対策本部内閣審議官）</dd>
        <dt>ステークホルダー出席者</dt>
        <dd>およそ30名</dd>
        <dl>

          <p><img src="./images/singapore/stakeholder.jpg" class="img-responsive" alt="Responsive image"></p>

          <p>大半は全中、製糖業界、畜産ネットなど業界団体が複数で出席。市民団体は「TPPに反対する人々の運動」の近藤氏、「TPP阻止国民会議」の首藤氏、「農民連」の真嶋副会長、岡崎氏、そして福井弁護士と香月であった。</p>

          <p>国内で開催される国内関係団体向け説明会と同様に、渋谷審議官から全体の説明があったあと出席者との質疑応答が行われた。渋谷審議官からはシンガポール交渉のスケジュールや交渉の進め方、そして知的財産分野については未だに難航している旨の説明がなされた。</p>

          <p>&nbsp;</p>

          <h4><u>本ステークホルダー会議に関連する報道</u></h4>

          <p>政府「関税交渉は平行線」、農業団体に説明 TPP（日本経済新聞）<br/><a href="http://www.nikkei.com/article/DGXNASFS08005_Y3A201C1000000/">http://www.nikkei.com/article/DGXNASFS08005_Y3A201C1000000/</a></p>

          <p>環境、労働、電子商取引 TPP「21世紀型」ルール構築へ 新興国が難色（MSN産経ニュース）<br/><a href="http://sankei.jp.msn.com/economy/news/131209/fnc13120921290016-n1.htm">http://sankei.jp.msn.com/economy/news/131209/fnc13120921290016-n1.htm</a></p>

          <p>TPP閣僚会合2日目（FNNニュース）<br/><a href="http://www.fnn-news.com/news/headlines/articles/CONN00259345.html">http://www.fnn-news.com/news/headlines/articles/CONN00259345.html</a></p>

          <p>TPPの関税分野などで応酬…日米、週明けに再協議（テレビ朝日）<br/><a href="http://news.tv-asahi.co.jp/news_economy/articles/000017580.html">http://news.tv-asahi.co.jp/news_economy/articles/000017580.html</a></p>

          <p>TPP日米交渉 重要５項目など溝埋まらず（日テレNEWS24）<br/><a href="http://www.news24.jp/articles/2013/12/09/06241786.html">http://www.news24.jp/articles/2013/12/09/06241786.html</a></p>

          <p>&nbsp;</p>

          <h4><u>質疑応答</u></h4>

          <p>質疑応答では福井弁護士より、大要以下4点の質問を行った。</p>

          <p><img src="./images/singapore/shibuya.jpg" class="img-responsive" alt="Responsive image"></p>

          <p>Q1：WikileaksがTPPの知的財産分野のテキストをリークした。この内容からはどれくらい交渉が進んでいるか？</p>

          <div class="well"><p>A1：リークはこれまでも何度も出たが、日本が参加する前のものも含めて、正確だった試しはない。ブルネイ交渉の段階からは大きな手付かずの論点については「荷物を捨てる」段階に来ているものもある。</p></div>

          <p>Q2：アメリカでは法学者たちがオバマ大統領に対し条文公開を求める声明を提出した。オーストラリア上院はTPPのテキストにサインする前に条文を公開するように動議が提出され、可決した。混乱を防ぐためにも、今後情報を一定程度オープンにするようにシフトするしかないと考えるが、どうか？</p>

          <div class="well"><p>A2：首席交渉官会合では、TPPに関する情報をどれくらい公開するかも議論しており、日本はそこで情報の公開を主張している。</p></div>

          <p>Q3：4カ国ずつの分科会において、NPOより日本は知的財産の分科会に参加しないとの情報を得た。これは本当か？ また加わるべきだと思うが、どうか？</p>

          <div class="well"><p>A3：分科会に参加しなければ交渉に参加できないわけではない。分科会の事前・事後に各国が議長国に論点を登録し、またその議論の結果は全体会で報告される。</p></div>

          <p>Q4：交渉は大詰めを迎え、バーター交渉が始まっていると見るが、知的財産分野における「著作権保護期間延長」「法定賠償金制度の導入」「著作権侵害の非親告罪化」が他分野とのバーターに使われることがないかどうか確認したい。</p>

          <div class="well"><p>A4：日本はバーター交渉はやっていない。鶴岡首席交渉官は「徳を積む」という言い方をするが、合意のために汗をかいて案を示したい。日本がTPPをまとめる方向で汗をかいている。</p></div>

          <p>&nbsp;</p>

          <h3 id="press">プレスカンファレンスについて</h3>
          <p>ステークホルダー会議の後、TPP交渉会合が実施されているGrand Copthorne Waterfront HotelのPiano Barにてプレスカンファレンスを実施した。</p>

          <p>&nbsp;</p>

          <h4><u>プレスカンファレンス概要</u></h4>

          <dl>
            <dt>日時</dt>
            <dd>2013年12月8日 15:00～（現地時間）</dd>
            <dt>会場</dt>
            <dd>Grand Copthorne Waterfront Hotel Piano Bar (Ground Floor Lobby)</dd>
            <dt>スピーカー</dt>
            <dd>福井健策（弁護士・ニューヨーク州弁護士、本の未来基金理事、thinkC世話人）</dd>
            <dd>香月啓佑（一般社団法人インターネットユーザー協会（MIAU）事務局長）</dd>
            <dd>James Love（<a href="http://keionline.org/">Knowledge Ecology International</a>（KEI）ディレクター）</dd>
          </dl>

          <p>プレスカンファレンスには日本メディア（時事通信、朝日新聞、日本農業新聞）を含むプレス6社、及び各国NPO関係者らが出席した。また現地のテレビメディア「MediaCorp Channel 5」も取材した。プレスカンファレンスでは前半は福井弁護士によるレクチャー、後半はJames氏によるレクチャーが行われ、TPPの知的財産分野の抱える問題を出席したプレスに説明した。福井弁護士は事前に配布したハンドアウトに合わせた説明、James氏からは特に知的財産に関する他の国際条約やWTOとの関係、及びバイアコムなどの巨大企業の狙いが話された。</p>

          <p>このプレスカンファレンスの模様はニコニコ生放送によってリアルタイムにインターネット生中継を行った。直前まで現地の無線インターネットアクセス環境が不明であったため、直前の告知をせざるを得なかったが、それにも関わらず253名の視聴者を得た。</p>

          <p><img src="./images/singapore/nico.png" class="img-responsive" alt="Responsive image"></p>

          <p>最後には英語で質疑応答を行い、またカンファレンス終了後には出席した上記日本メディアとの懇談を持ち、質疑応答に答えた。日本メディアもTPPの知的財産分野の重要性は認識していたが、彼らの悩みは「どのような影響があるかを具体的に伝えることが難しい」というものだった。
           </p>

          <p>&nbsp;</p>

          <h3 id="domestic">事後に開催された日本政府開催のステークホルダー会議について</h3>

          <p>シンガポール交渉後の12月15日（水）の13時から、三田共用会議所にて国内の関係団体向けのTPP説明会が開催された。thinkTPPIPからはクリエイティブ・コモンズ・ジャパン（特定非営利活動法人 コモンスフィア）より野口祐子理事、thinkCからは永井幸輔事務局員も出席した。出席団体は322団体で、過去最大の出席団体数となった。</p>

          <p><img src="./images/singapore/domestic.jpg" class="img-responsive" alt="Responsive image"></p>

          <p>説明にあたった渋谷審議官からは特に新たな情報はもたらされなかったが、知財分野については、大きな論点について（この論点には著作権保護期間も含まれると思われる）方向性が決まっていないこと、リーク合戦が始まっており、具体的な数字の提案が交渉の中でできない状況にあることや、そのようなリーク合戦を受けて現在は「交渉のアプローチのしかた」を中心に議論し、それが効果を上げていることなどが語られた。</p>

          <p>またSPS（衛生植物検疫）分野など「寸止め」の状態にある条文についても、完全に合意をしたわけではなく、他の分野の出方を見るために「反対」が完全にクリアとなっていないことも明らかにされた。これはTPPで分野を横断したバーター交渉が行われていることを示す発言と考えられる。渋谷審議官は「日本はバーター交渉を行わない」と明言しているが、知財分野が今後もバーターの材料とならないように主張を続ける必要がある。
           </p>

          <p>&nbsp;</p>

          <h3 id="communication">人的交流について</h3>

          <p>本派遣においては以前からの国際NPOとの協力関係がなければ成り立たなかった。特に香月が<a href="https://www.eff.org/">EFF</a>（Electronic Frontier Foundation）によって2012年12月にニュージーランドで開催されたNZ Digital Rights Campで交流した<a href="http://www.twnside.org.sg/">Third World Network</a>のSanya Reid Smith氏やオークランド大学のJane Kelsey教授、<a href="http://www.citizen.org/">Public Citizen</a>のメンバーらと再会し、情報交換をすることができた。またプレスカンファレンスはSanya Reid Smith氏にほぼ全てのセッティングを任せることができた。</p>

          <p>またプレスカンファレンス前の打ち合わせにおいてJames氏からWikileaksによるリークテキストに関する情報を得ることができた。Wikileaksは今回もリークテキストの一般公開の前に、リークテキストの真贋を確かめる作業を行っており、やはりKEIやPublic Citizenに対しても公開5日前にリークテキストが送付されてきたとのこと。しかしWikiLeaksから送られてきたテキストは暗号化されており、その暗号を解くのに思った以上に時間がかかったようだ。</p>

          <p>また印象的だったのは海外のNPOと交渉官の間に面識があることだ。James氏が旧知のメキシコの交渉官を見つけ「メキシコはやっぱり著作権保護期間は100年を主張するのか？」と話しかけたところ、その交渉官が笑顔で「At least!」（最低でもね！）と答えたのには驚いた。交渉会場内にはプレスに加え各国の交渉官がゾロゾロ歩いており、NPOと普通に会話をしており驚いた。私は喫煙所で日本の交渉官と出会うことができたが、話しかけると足早に去られてしまった。</p>

          <p>また日本の各種団体の関係者との交流も深めることができ、今後の国内における情報収集の新たな情報源を増やすことができた。</p>

          <hr/>

          <h2 id="summary">まとめ</h2>

          <p>今回の派遣がTPP交渉に直接何らかの影響を与えることはできなかった。しかし我々がシンガポールに駆けつけたことは、我々のTPPに対する関心について、日本政府の交渉官に対し、一定の印象付けができた。これまでは現地でのステークホルダー会議で日本から知的財産分野に関するプレゼンテーションは行われて来なかったが、しかし今回我々が訪れたことで、ステークホルダー会議で「まずはじめに」と知的財産分野に関するブリーフィングが始まったことは成果だと感じる。</p>

          <p>我々はこれまでは主に国内に向けた情報の発信を行っていたが、今回の派遣によって海外への情報発信の重要性も感じた。TPPの知的財産分野が報道で大きく取り上げられることは日本でも少ないが、最近は報道の中で知的財産分野について触れられることが増えてきた。また<a href="http://www.weekly-economist.com/2013/12/10/%E7%9B%AE%E6%AC%A1-2013%E5%B9%B412%E6%9C%8810%E6%97%A5%E5%8F%B7/" target="_blank">『週刊エコノミスト』が著作権保護期間延長問題についての特集を組んだ</a>ことも記憶に新しい。しかし諸外国ではこのようなことすらまれのようだ。国内での議論を絶やさないように、引き続き情報を発信していくとともに、我々の議論を海外に広める取り組みを進めていきたい。特にこれまでに付き合いのある海外NPOとの協力関係の中でもそれは十分に可能だ。</p>

          <hr/>

          <h2 id="thanks">謝辞</h2>

          <p>今回の渡航は「本の未来基金」の補助によるものです。本の未来基金に寄付をお寄せくださったすべての皆様に感謝します。</p>
    </div>
  </div>
</div>
