---
title: シンポジウム「著作権延長後の世界で、我われは何をすべきか」 | 本の未来基金
---

<div class="jumbotron report">
  <div class="container">
    <h2>シンポジウム</h2>
    <h1>著作権延長後の世界で<br/>我われは何をすべきか</h1>
    <p>2019.1.10 at 東京ウィメンズプラザ</p>
  </div>
</div>

<div class="container">
<p>2018年10月30日、政府は、TPP11が6ヶ国目の批准を得て12月30日に発効することが確定した、と発表しました。これに伴い、2016年の改正著作権法も同じ日に施行されることになり、我が国が1970年以来守って来た著作権の保護期間「死後50年」の原則は、ついに「死後70年」原則へと延長されました。</p>
<p>私たちは2006年、米国や権利者団体の要求で国内での保護期間延長論議が本格化して以来、様々な形と立場でその広範な影響への懸念を論じてきました。今回、政府はTPP11では各国の反対で期間延長が凍結されたにもかかわらず、21世紀の世界の現実に逆行するかのような延長を決定しました。しかし私たちはその事実を非難するよりも、過去の作品の保存と継承や新たな創造・ビジネス・教育・研究開発のために、「延長後の世界」で私たちに出来ることを、今こそ、共に考えはじめたいと思います。</p>
<p>そこで「青空文庫」「本の未来基金」「デジタルアーカイブ学会」「クリエイティブ・コモンズ・ジャパン」「インターネットユーザー協会（MIAU）」「thinkC」の6団体の共催にて、延長問題にこれまで関わって来た様々な立場の人々が集い、今後の著作権／文化政策のビジョンや政策形成のありかた、個別の対策など、「これから私たちにできること」を考えました。</p>
<p>ここにあるのはシンポジウムでの講演やライトニングトーク、トークセッションの模様を文字に起こし、編集したものです。</p>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-6">
      <h3>基調スピーチ</h3>
      <div class="thumbnail">
        <img alt="ALT NAME" src="./images/nagao.png">
      <div class="caption">
        <p class="name">中山信弘</p>
        <p class="title">東京大学名誉教授</p>
      </div>
        <p style="text-align: center"><a class="btn btn-primary" href="http://www.nicovideo.jp/watch/1380693282?from=540" target="_blank">読む</a></p>
      </div>
    </div>
    <div class="col-md-6">
    <h3>報告「期間延長問題の経緯」</h3>
    <div class="thumbnail">
      <img alt="ALT NAME" src="./images/nagao.png">
    <div class="caption">
      <p class="name">福井健策</p>
      <p class="title">弁護士、thinkC世話人</p>
    </div>
      <p style="text-align: center"><a class="btn btn-primary" href="http://www.nicovideo.jp/watch/1380693282?from=540" target="_blank">読む</a></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-12">
      <h3>ライトニングトーク「今後我々に何ができるか／すべきか」</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
  
    <div class="col-md-4">
      <div class="inner-box">
        <div class="thumbnail">
            <img alt="ALT NAME" src="./images/nagao.png">
          <div class="caption">
            <h4>最終20年アーカイブ可能化条項</h4>
            <div class="credit">
              <p class="name">生貝直人</p>
              <p class="title">東洋大学准教授、デジタルアーカイブ学会理事</p>
            </div>
          </div>
          <p style="text-align: center"><a class="btn btn-primary" href="http://www.nicovideo.jp/watch/1380693282?from=540" target="_blank">読む</a></p>
        </div>
      </div> 
    </div>

    <div class="col-md-4">
      <div class="inner-box">
        <div class="thumbnail">
            <img alt="ALT NAME" src="./images/nagao.png">
          <div class="caption">
            <h4>今後の青空文庫について</h4>
            <div class="credit">
              <p class="name">大久保ゆう</p>
              <p class="title">青空文庫</p>
            </div>
          </div>
          <p style="text-align: center"><a class="btn btn-primary" href="http://www.nicovideo.jp/watch/1380693282?from=540" target="_blank">読む</a></p>
        </div>
      </div> 
    </div>

    <div class="col-md-4">
      <div class="inner-box">
        <div class="thumbnail">
            <img alt="ALT NAME" src="./images/nagao.png">
          <div class="caption">
            <h4>クリエイティブコモンズの更なる普及</h4>
            <div class="credit">
              <p class="name">渡辺智暁</p>
              <p class="title">クリエイティブ・コモンズ・ジャパン（NPO法人コモンスフィア）理事長</p>
            </div> 
          </div>
          <p style="text-align: center"><a class="btn btn-primary" href="http://www.nicovideo.jp/watch/1380693282?from=540" target="_blank">読む</a></p>
        </div>
      </div> 
    </div>

    <div class="col-md-4">
      <div class="inner-box">
        <div class="thumbnail">
            <img alt="ALT NAME" src="./images/nagao.png">
          <div class="caption">
            <h4>図書館からの家庭配信などの提案</h4>
            <div class="credit">
              <p class="name">赤松健</p>
              <p class="title">漫画家、日本漫画家協会理事</p>
            </div>  
          </div>
          <p style="text-align: center"><a class="btn btn-primary" href="http://www.nicovideo.jp/watch/1380693282?from=540" target="_blank">読む</a></p>
        </div>
      </div> 
    </div>

    <div class="col-md-4">
      <div class="inner-box">
        <div class="thumbnail">
            <img alt="ALT NAME" src="./images/nagao.png">
          <div class="caption">
            <h4>オーファン問題をどう解決して行くか</h4>
            <div class="credit">
              <p class="name">瀬尾太一</p>
              <p class="title">写真家、日本複製権センター代表理事</p>
            </div>
          </div>
          <p style="text-align: center"><a class="btn btn-primary" href="http://www.nicovideo.jp/watch/1380693282?from=540" target="_blank">読む</a></p>
        </div>
      </div> 
    </div>

    <div class="col-md-4">
      <div class="inner-box">
        <div class="thumbnail">
            <img alt="ALT NAME" src="./images/nagao.png">
          <div class="caption">
            <h4>ブロックチェーン／リーガルテックは著作権管理を変えるか？</h4>
            <div class="credit">
              <p class="name">永井幸輔</p>
              <p class="title">弁護士、クリエイティブ・コモンズ・ジャパン（NPO法人コモンスフィア）</p>
            </div> 
          </div>
          <p style="text-align: center"><a class="btn btn-primary" href="http://www.nicovideo.jp/watch/1380693282?from=540" target="_blank">読む</a></p>
        </div>
      </div> 
    </div>
    
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>メディアによるイベントレポート</h2>
      <p>「青空文庫」富田倫生さんの追悼イベントに平田オリザさん、長尾真前国立国会図書館館長らが参加、著作権保護期間問題を議論（The Huffington Post）<br/> <a href="http://www.huffingtonpost.jp/2013/09/25/aozora_n_3989415.html" target="_blank">http://www.huffingtonpost.jp/2013/09/25/aozora_n_3989415.html</a> </p>
  </div>
</div>
